{% extends 'navbar.html' %}


{% block css %}
    .form-change-pass > input {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    }
    .form-change-pass > button {
    width: 50%;
    }
    .list-page-profile > p > a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    }
    .list-page-profile > p > .active {
    color: dodgerblue;
    }
    body {
    background-color: white !important;
    }
    .alert-msg {
        background-color: #f76f6f;
        color: white;
        padding: 10px;
        border-radius: 5px;
        border-color: red;
    }


    /*=Link=*/
    .link{
        a {
            box-shadow: inset 0 0 0 0 black;
            color: black;
              padding: 0 .25rem;
              margin: 0 -.25rem;
              border-radius: 5px;
            transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
          }
          a:hover {
            color: white;
            box-shadow: inset 200px 0 0 0 black;;
          }
          
          /* Presentational styles */
          a {
            color: black;
            font-size: 18px;
            font-weight: 600;
            line-height: 0;
            text-decoration: none;
          }
    }
    
    /*=SAVE=*/
.btn {
    line-height: 20px;
    height: 50px;
    text-align: center;
    text-style:bold
    cursor: pointer;
    background-color:dodgerblue;
  }
  .btn-one {
    color: white;
    transition: all 0.5s;
    position: relative;
  }
  .btn-one span {
    transition: all 0.5s;
  }
  .btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    transition: all 1s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: dodgerblue;
    border-bottom-color: dodgerblue;
    transform: scale(0.1, 1);
    
  }
  .btn-one:hover span {
    letter-spacing: 2px;
  }
  .btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  .btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
  }
  .btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }
{% endblock %}


{% block title %}
    Change Password
{% endblock %}


{% block content %}
<div class="container" style="padding: 70px;">
    <div class="row">
        <div class="col-4 list-page-profile">
            <p class="link">
                <a href="{% url 'accounts:profile' %}">Personal Info</a>
            </p>
            <p  class="link">
                <a class="active" href="{% url 'accounts:change_password' pk=request.user.pk %}">Password</a>
            </p>
            <p  class="link">
                <a href="{% url 'accounts:list_product' %}">Products Followed</a>
            </p>
            <p  class="link">
                <a href="{% url 'accounts:notification' %}">Setting Notification</a>
            </p>
        </div>
        <div class="col-6">
            <h2><b>CHANGE</b> <b style="color: dodgerblue">PASSWORD</b></h2>
            {% if mess %}
            <p class="alert-msg">{{ mess }}</p>
            {% endif %}
            <form method="post" class="form-change-pass">
                {% csrf_token %}
                 <label for="old_password">
                    Old Password:
                </label>
                <input type="password" name="old_password" id="old_password"/><br>
                <label for="password1">
                    New Password:
                </label>
                <input type="password" name="your_news_password1" id="password1"/><br>
                <label for="password2">
                    Confirm Password:
                </label>
                <input type="password" name="your_news_password2" id="password2"/><br>
                <button type="submit" class="btn btn-one" style="width:100%"><b>SAVE</b></button> 
               
            </form>
        </div>
    </div>
</div>
{% endblock %}