{% extends 'navbar.html' %}

{% block css %}
    a {
    text-decoration: none;
    color: black;
    }
    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /*=SEARCH BAR=*/

   

    /*=CARD TITLE=*/
    .card-title{
        a {
            box-shadow: inset 0 0 0 0 black;
            color: black;
              padding: 0 .25rem;
              margin: 0 -.25rem;
              border-radius: 5px;
            transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
          }
          a:hover {
            color: white;
            box-shadow: inset 200px 0 0 0 black;;
          }
          
          /* Presentational styles */
          a {
            color: black;
            font-family: 'Poppins', sans-serif;
            font-size: 23px;
            font-weight: 600;
            line-height: 0;
            text-decoration: none;
          }
    }
    /*=READ NOW=*/
    .btn {
        line-height: 20px;
        height: 60px;
        text-align: center;
        width: 120px;
        cursor: pointer;
        background-color:black;
      }
      .btn-one {
        color: white;
        transition: all 0.5s;
        position: relative;
      }
      .btn-one span {
        transition: all 0.5s;
      }
      .btn-one::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 0;
        transition: all 1s;
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-top-style: solid;
        border-bottom-style: solid;
        border-top-color: black;
        border-bottom-color: black;
        transform: scale(0.1, 1);
        
      }
      .btn-one:hover span {
        letter-spacing: 2px;
      }
      .btn-one:hover::before {
        opacity: 1; 
        transform: scale(1, 1); 
      }
      .btn-one::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 0.3s;
        background-color: rgba(255,255,255,0.1);
      }
      .btn-one:hover::after {
        opacity: 0; 
        transform: scale(0.1, 1);
      }
      

/*=PAGE=*/
.pagination-style-one a { 
    padding: 10px; 
    margin: 15px;
    background: black; 
    color: white; 
    border-radius: 80%; 
    box-shadow: 0px 5px 10px 5px rgba(0,0,0,.1);}
.pagination-style-one a.selected, 
.pagination-style-one a:hover, 
.pagination-style-one a:active, 
.pagination-style-one a:focus { 
    padding: 15px; 
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,.5);
}

.custom-select {
    position: relative;
    width: 100%;
    height:40px;
    font-size:17px;
    text-align:center;
    background-color:white;
    color:black;
    border-radius:5px;
  }

  /*= NOTIFICATIONS=*/
  @import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

span{
  position: relative;
  display: inline-flex;
  width: -10px;
  height: 55px;
  margin: 0 5px;
  perspective: 1000px;
}
span a{
  font-size: 15px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  
}
span a:before,
span a:after{
  position: absolute;
  content: "Get Notify now!";
  height: 60px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
span a:before{
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
span a:after{
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
span a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}


{% comment %} /*Check Box*/
body{
  counter-reset: checkBox-counter 0 ;
  
}

div{
counter-reset: checkBox-length;


input[type="checkBox"]:after{
  counter-increment: checkBox-length;
  content: counter(checkBox-length);
  position: relative;
  top: 15px;
  
}
input:checked{
   counter-increment: checkBox-counter;
   
}
}

main:after{
content: "Number of Products Selected: " counter(checkBox-counter) ;
display: block;
position: absolute; /*fixed*/
margin:-15px;
}

input.largerCheckbox {
  width: 40px;
  height: 40px;
} {% endcomment %}

/*=URL=*/
.url{
    a {
    color: blue;
      position: relative;
      text-decoration: none;
    }
    
    a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      border-radius: 4px;
      background-color: #18272F;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
{% endblock %}


{% block title %}
List CVEs by Product Followed
{% endblock %}


{% block content %}
<div class="container">
    <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
        <div class="col-3">
          {% comment %} <p class="list"><a href={% url 'app:list_products' page=1 %} style="font-size:20px">< Return list products</a></p> {% endcomment %}
        </div>
        <div class="col-9">
            <form method="post">
                {% csrf_token %}
                <div class="input-group">
                    <input name="search_focus" type="search" class="form-control" placeholder="Search CVE ID..."/>
                    <button type="submit" class="btn btn-one">
                        <i class="fas fa-search"></i>
                    </button>
                    <div>
                        <span><a href="{% url 'app:tele_noti' %}"></a></span>
                </div>
                </div>
            </form>
        </div>

    </div>
    <div class="row" style="margin-top: 30px;">
        {# Hiển thị filter year#}
        <div class="col-3 " >
        </br>
    </br>
</br>

            {% comment %} <h3><b><u>FINDING METHODS</u></b></h3> {% endcomment %}
  
          
            {% comment %} <form method="post">
                {% csrf_token %}
            </br>
                <h3>PUBLISHED YEARS:</h3>
                <hr>
                {% for it in unique_year %}
                    <input type="checkbox" id="years" name="filter_year" value="{{ it }}">
                    <label for="years">{{ it }}</label><br>
                {% endfor %} 
                <select name="filter_year" class="custom-select">
                    {% for it in unique_year %}
                    <b> <option value="{{ it }}">{{ it }}</option></b>
                    {% endfor %}
                </select>
                <hr>
            </br>


                <button type="submit" class="btn btn-one" style="width:100%"><b>FIND</b></button>


            </form> {% endcomment %}

    
             
    

        </div>
        <div class="col-9 ">
            <h2 style="font-size: 35px; text-align:center"><b><u>List CVEs by Product</u></b></h2>
            {% if listCVE %}
            {% for l in listCVE %}
        </br>

                <div class="col" >
                    <div class="card h-100" style="border-width:2px; border-color:black">
                        <div class="card-body">
                            <h3 class="card-title">
                                <a href="{% url 'app:detail_cves' pk=l.pk %}">{{ l.cve_id }}</a>
                            </h3>
                            <div class="card-body" style="padding: 30px;">
                                <p class="card-text">
                                    <b> Year:</b> {{ l.year }}
                                </p>
                                <p class="card-text">
                                    <b> Publish Date: </b>{{ l.date_publish }}
                                </p>
                                <p class="card-text">
                                  {% for i in listCVE.affected_cve %}
                                        {% if i.con_id == l.id %}
                                        <form id="click_product_form" method="post" action="{% url 'accounts:list_cve_by_product' %}">
                                          {% csrf_token %}
                                          <!-- Input ẩn để lưu trữ giá trị productName -->
                                          <input type="hidden" name="click_product" id="click_product_input">
                                          <p class="url"><b>Product: </b>"{{ i.product.name }}"
                                          <a href="{% url 'accounts:list_cve_by_product' %}" class="product-link" data-product-name="{{ i.product.name }}">
                                               <i>(Click here to see related cves!)</i>
                                          </a>
                                          
                                        </p>
                                      </form>
                                            
                                          {% endif %}
                                    {% endfor %}
                                </p>
                                <p class="card-text">
                                  {% for m in listCVE.metric %}
                                      {% if m.con_id == l.id %}
                                          {% if m.cvssv31.base_score is not none and m.cvssv31.base_severity is not none %}
                                              <p class="card-text">
                                                {% if m.cvssv31.base_score >= 0 and m.cvssv31.base_score < 4  %}
                                                <p  > <b>CVSS V3.1 Score:</b> 
                                                  "{{ m.cvssv31.base_score }}" - <b style="background-color:green;border-radius:5px;"> LOW </b> 
                                                </p></br>
                                                {% elif m.cvssv31.base_score >= 4 and m.cvssv31.base_score < 7 %}
                                                <p  > <b>CVSS V3.1 Score:</b> 
                                                  "{{ m.cvssv31.base_score }}" - <b style="background-color:yellow;border-radius:5px;"> MEDIUM </b> 
                                                </p></br>
                                                {% elif m.cvssv31.base_score >= 7 and m.cvssv31.base_score < 9 %}
                                                <p  > <b>CVSS V3.1 Score:</b> 
                                                  "{{ m.cvssv31.base_score }}" - <b style="background-color:orange;border-radius:5px;" >HIGH </b> 
                                                </p></br>
                                                {% else %}
                                                <p  > <b>CVSS V3.1 Score:</b> 
                                                  "{{ m.cvssv31.base_score }}" - <b style="background-color:red;border-radius:5px;"> CRITICAL </b> 
                                                </p></br>
                                                {% endif %}  
                                              </p>
                                          {% elif m.cvssv30.base_score is not none and m.cvssv30.base_severity is not none  %}
                                            <p class="card-text">
                                              
                                              {% if m.cvssv30.base_score >= 0 and m.cvssv30.base_score < 4  %}
                                              <p  > <b>CVSS V3.0 Score:</b> 
                                                "{{ m.cvssv30.base_score }}" - <b style="background-color:green;border-radius:5px;"> LOW </b> 
                                              </p></br>
                                              {% elif m.cvssv30.base_score >= 4 and m.cvssv30.base_score < 7 %}
                                              <p  > <b>CVSS V3.0 Score:</b> 
                                                "{{ m.cvssv30.base_score }}" - <b style="background-color:yellow;border-radius:5px;"> MEDIUM </b> 
                                              </p></br>
                                              {% elif m.cvssv30.base_score >= 7 and m.cvssv30.base_score < 9 %}
                                              <p  > <b>CVSS V3.0 Score:</b> 
                                                "{{ m.cvssv30.base_score }}" - <b style="background-color:orange;border-radius:5px;" >HIGH </b> 
                                              </p></br>
                                              {% else %}
                                              <p  > <b>CVSS V3.0 Score:</b> 
                                                "{{ m.cvssv30.base_score }}" - <b style="background-color:red;border-radius:5px;"> CRITICAL </b> 
                                              </p></br>
                                              {% endif %}                                         

                                          </p>
                                          {% elif m.cvssv20.base_score is not none %}
                                          <p class="card-text">
                                            {% if m.cvssv20.base_score >= 0 and m.cvssv20.base_score < 4  %}
                                              <p  > <b>CVSS V2.0 Score:</b> 
                                                "{{ m.cvssv20.base_score }}" - <b style="background-color:green;border-radius:5px;"> LOW </b> 
                                              </p></br>
                                              {% elif m.cvssv20.base_score >= 4 and m.cvssv20.base_score < 7 %}
                                              <p  > <b>CVSS V2.0 Score:</b> 
                                                "{{ m.cvssv20.base_score }}" - <b style="background-color:yellow;border-radius:5px;"> MEDIUM </b> 
                                              </p></br>
                                              {% elif m.cvssv20.base_score >= 7 and m.cvssv20.base_score < 9 %}
                                              <p  > <b>CVSS V2.0 Score:</b> 
                                                "{{ m.cvssv20.base_score }}" - <b style="background-color:orange;border-radius:5px;" >HIGH </b> 
                                              </p></br>
                                              {% else %}
                                              <p  > <b>CVSS V2.0 Score:</b> 
                                                "{{ m.cvssv20.base_score }}" - <b style="background-color:red;border-radius:5px;"> CRITICAL </b> 
                                              </p></br>
                                              {% endif %}                                         

                                        </p>
                                        {% else %}
                                        <p class="card-text"><b>CVSS Score:</b>
                                          <b  style="background-color:black; color:white; border-radius:5px; "> NOT UPDATED!</b> 
                                      </p>
                                          {% endif %}
                                      {% endif %}
                                  {% endfor %}
                              </p>
                                <!--Thêm logic hiển thị điểm và mức độ nghiêm trọng-->
                                 <a href="{% url 'app:detail_cves' pk=l.pk %}" class="cta">
                                    <button class="btn btn-one"> <b style= "color: dodgerblue"> READ </b>NOW</button>
                                </a> 
                               
                            </div>
                        </div>
                    </div>
                    
                </div>
       
           
            {% endfor %}
            {% else %}
            <p style="color: black; padding:50px;"><b>There are currently no CVEs matches with your selection!</b></p>
    {% endif %}
        </div>   
    </div>
</div>
<script>
  // Lắng nghe sự kiện click trên tất cả các thẻ 'a' có class 'product-link'
  document.querySelectorAll('.product-link').forEach(link => {
      link.addEventListener('click', function(event) {
          event.preventDefault(); // Ngăn chặn hành động mặc định của thẻ 'a'

          const productName = this.getAttribute('data-product-name'); // Lấy tên sản phẩm từ thuộc tính 'data-product-name' của thẻ 'a'

          // Lưu giá trị vào localStorage với khóa là "click_product"
          localStorage.setItem('click_product', JSON.stringify(productName));

          // Đặt giá trị cho input ẩn trong form
          document.getElementById('click_product_input').value = JSON.stringify(productName);

          // Submit form
          document.getElementById('click_product_form').submit();
      });
  });
</script>

{% endblock %}