{% extends 'navbar.html' %}

{% block css %}
.form-edit-profile > input {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    }
    .form-edit-profile > button {
    width: 50%;
    }
    body {
    background-color: white !important;
    }
    .form-edit-avatar {
    text-align: center;
    }
    .list-page-profile > p > a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    }
    .list-page-profile > p > .active {
    color: dodgerblue;
    }
    /*=Link=*/
    .link{
        a {
            box-shadow: inset 0 0 0 0 black;
            color: black;
              padding: 0 .25rem;
              margin: 0 -.25rem;
              border-radius: 5px;
            transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
          }
          a:hover {
            color: white;
            box-shadow: inset 200px 0 0 0 black;;
          }
          
          /* Presentational styles */
          a {
            color: black;
            font-size: 18px;
            font-weight: 600;
            line-height: 0;
            text-decoration: none;
          }
    }
    
    /*=SAVE=*/
.btn {
    line-height: 20px;
    height: 50px;
    width:100px;
    text-align: center;
    text-style:bold
    cursor: pointer;
    background-color:black;
  }
  .btn-one {
    color: white;
    transition: all 0.5s;
    position: relative;
  }
  .btn-one span {
    transition: all 0.5s;
  }
  .btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    transition: all 1s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: black;
    border-bottom-color: black;
    transform: scale(0.1, 1);
    
  }
  .btn-one:hover span {
    letter-spacing: 2px;
  }
  .btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  .btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
  }
  .btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }

  /*=CARD TITLE=*/
    .card-title{
        a {
            box-shadow: inset 0 0 0 0 black;
            color: black;
              padding: 0 .25rem;
              margin: 0 -.25rem;
              border-radius: 5px;
            transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
          }
          a:hover {
            color: white;
            box-shadow: inset 200px 0 0 0 black;;
          }
          
          /* Presentational styles */
          a {
            color: black;
            font-family: 'Poppins', sans-serif;
            font-size: 23px;
            font-weight: 600;
            line-height: 0;
            text-decoration: none;
          }
    }
{% endblock %}

{% block title %}
    List Products Followed
{% endblock %}


{% block content %}
    <div class="container" style="padding: 70px;">
        <div class="row">
            <div class="col-3 list-page-profile">
                <p class="link">
                    <a class="{% if '/account/profile/' == request.path %}active{% endif %}"
                       href="{% url 'accounts:profile' %}">Personal Info</a>
                </p>
                <p class="link">
                    <a class="{% if '/account/change-password/' in request.path %}active{% endif %}"
                       href="{% url 'accounts:change_password' pk=request.user.pk %}">Password</a>
                </p>
                <p class="link" >
                    <a style="color:dodgerblue;" class="{% if '/account/list-product/' in request.path %}active{% endif %}"
                       href="{% url 'accounts:list_product'  %} ">Products Followed</a>
                </p>
                <p class="link">
                    <a href="{% url 'accounts:notification' %}">Setting Notification</a>
                </p>
            </div>
            <div class="col-5">
                <div class="list-group">
                  <h2><b>YOUR</b> <b style="color: dodgerblue">PRODUCT</b></h2>
               
                  {% for it in list_products %}
                  <div class="card mb-3">
                      <div class="card-body" style="padding: 20px;">
                        <h5 class="card-title">
                          <form method="post" action="{% url 'accounts:list_cve_by_product'  %}" id="search_product_form">
                            {% csrf_token %}
                            <input type="hidden" name="search_product" id="search_product_input">
                            <a href="{% url 'accounts:list_cve_by_product'  %}" class="product-link"><b>{{ it.name }}</b></a>
                        </form>   
                        </h5>
                      </br>
                    
                          <p class="card-text"><b>Product Name:</b> "{{ it.name }}"</p>
                       
                      </div>
                    
                  </div>

                  {% comment %} {% for it in listCVE %}
                        <div class="card mb-3">
                            <div class="card-body" style="padding: 20px;">
                                <a href="#"><h5 class="card-title">{{  it.cve_id }}</h5></a>
                               {% for i in list_products %}
                                <p class="card-text">Product: {{i.name}}</p>
                                {% endfor %} 
                                <p class="card-text">Vender: </p>
                            </div>
                        </div>
                    {% endfor %} {% endcomment %}
                 
                {% endfor %}
                </div>
                
            </div>
             <div class="col-4">
                <h3><b>FINDING METHODS</b></h3>
                <hr>
                <form method="post">
                  {% csrf_token %}
                  <h3>PRODUCT</h3>
                  {% for product in list_products %}
                  <input type="checkbox" id="product_filter" name="product_filter" value="{{ product }}">
                  <label for="product_filter">{{ product }}</label><br>
                {% endfor %}
                <hr>
                  <!-- <button class="btn btn-one"><b>FIND</b></button> -->
                  <form  method="post">
                    {% csrf_token %}
                    <input type="hidden" id="selected_products_localstorage" name="selected_products_localstorage">
                  <button type="submit" class="btn btn-one" style="width:130px;"  onclick="followAll1()">  <b >UNFOLLOW </b></button>
                  </form>
              </form>
            </div>
        </div>
       
    </div>
    <script>
      localStorage.removeItem('search_product');
      // Lấy tất cả các thẻ 'a' có class 'product-link'
      const productLinks = document.querySelectorAll('.product-link');
  
      // Lặp qua từng thẻ 'a'
      productLinks.forEach(link => {
          // Lắng nghe sự kiện click
          link.addEventListener('click', function(event) {
              event.preventDefault(); // Ngăn chặn hành động mặc định của liên kết
  
              const productName = this.innerText; // Lấy tên sản phẩm từ nội dung của thẻ 'a'
  
              // Lưu giá trị vào local storage với khóa là "search_product"
              localStorage.setItem('search_product', JSON.stringify(productName));
  
              // Đặt giá trị cho input trong form
              document.getElementById('search_product_input').value = JSON.stringify(productName);
  
              // Submit form
              document.getElementById('search_product_form').submit();
          });
      });
  </script>
    <script>
      function followAll1() {
        // Xoá dữ liệu cũ trong Local Storage
        localStorage.removeItem('selected_products_localstorage');
        // Lấy tất cả các checkbox được chọn
        var checkboxes = document.querySelectorAll("input[type='checkbox']:checked");
      
        // Tạo danh sách để lưu trữ giá trị
        var values = [];
      
        // Lặp qua từng checkbox và lấy giá trị
        for (var i = 0; i < checkboxes.length; i++) {
          values.push(checkboxes[i].value);
        }
      
        // Lưu trữ danh sách giá trị vào Local Storage
        localStorage.setItem("selected_checkboxes", JSON.stringify(values));
        document.getElementById("selected_products_localstorage").value = JSON.stringify(values);
        // Hiển thị thông báo
        {% comment %} alert("Đã lưu trữ giá trị checkbox!"); {% endcomment %}
      }
    </script>
{% endblock %}