{% extends 'navbar.html' %}


{% block css %}
    a {
    text-decoration: none;
    color: black;
    }
    input, textarea {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    }
    .title-box > * {
    padding: 10px;
    background-color: black !important;
    color: white !important;
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
    margin: 0;
    }
    .box-info {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .content-box {
    background-color: lightgray !important;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 0;
    padding: 10px;
    }
    .base-score {
    background-color: white ;
    color: black !important;
    padding: 10px;
    border-radius: 10px;
    }
    .alert-msg {
        background-color: lightgreen;
        color: white;
        padding: 10px;
        border-radius: 5px;
        border-color: red;
    }

    /*=READ NOW=*/
.btn {
    line-height: 20px;
    height: 50px;
    text-align: center;
    text-style:bold
    cursor: pointer;
    background-color:black;
  }
  .btn-one {
    color: white;
    transition: all 0.5s;
    position: relative;
  }
  .btn-one span {
    transition: all 0.5s;
  }
  .btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    transition: all 1s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: black;
    border-bottom-color: black;
    transform: scale(0.1, 1);
    
  }
  .btn-one:hover span {
    letter-spacing: 2px;
  }
  .btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  .btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
  }
  .btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }
  /*=URL=*/
.url{
    a {
        color: black;
      position: relative;
      text-decoration: none;
    }
    
    a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      border-radius: 4px;
      background-color: #18272F;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/*=Link list=*/
  .list{
      a {
          box-shadow: inset 0 0 0 0 black;
          color: black;
            padding: 0 .25rem;
            margin: 0 -.25rem;
            left:10%;
            border-radius: 5px;
          transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
        }
        a:hover {
          color: white;
          box-shadow: inset 200px 0 0 0 black;;
        }
        
        /* Presentational styles */
        a {
          color: black;
          font-size: 19px;
          font-weight: 500;
          line-height: 0;
          text-decoration: none;
        }
  }



  /*=arrow=*/
.arrow {
    position: absolute;
    top: 19%;
    left: 14%;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);
    cursor: pointer;
}

.arrow span {
    display: block;
    width: 1vw;
    height: 1vw;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

/*= NOTIFICATIONS=*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

span{
position: relative;
display: inline-flex;
width: -10px;
height: 55px;
margin: 0 5px;
perspective: 1000px;
}
span a{
font-size: 15px;
font-style:bold;
letter-spacing: 1px;
transform-style: preserve-3d;
transform: translateZ(-25px);
transition: transform .25s;

}
span a:before,
span a:after{
position: absolute;
content: "Click here to see how to read an CVE! ";
height: 55px;
width: 180px;
display: flex;
align-items: center;
justify-content: center;
border: 5px solid black;
box-sizing: border-box;
border-radius: 5px;
text-align:center;  
}
span a:before{
color: #fff;
background: #000;
transform: rotateY(0deg) translateZ(25px);
}
span a:after{
color: #000;
transform: rotateX(90deg) translateZ(25px);
}
span a:hover{
transform: translateZ(-25px) rotateX(-90deg);
}


.accordion {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 22px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: black;
  }
  
  .accordion:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    background-color: black ;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }
{% endblock %}


{% block title %}
    Detail CVEs
{% endblock %}


{% block content %}
{# Thêm logic để hiện thị các trường của CVE #}
<div class="container" style="margin-top: 100px; margin-bottom: 200px">
    <p class="list"><a href={% url 'app:list_cves' page=1 %}>Explore CVE list</a></p>
    <div class="arrow" onclick="goBack()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <div class="row">
        <div class="col-8">
            <h1><b>{{ detail_cve.cve_id }}</b></h1>
            <div class="box-info">
                <div class="title-box">
                    <h2><b style="font-size: 28px;">DESCRIPTION</b></h2>
                </div>
                <div class="content-box">
                    <p>{{ descriptions.value }}</p>
                </div>
            </div>
            <div class="box-info">
                <div class="title-box">
                    <h2><b style="font-size: 28px;">Vulnerable products, Vendor, Version</b></h2>
                </div>
                <div class="content-box">
                        {% for a in affected %} 
                            {% if a.con_id == detail_cve.id %}
                                <p><b>- Product name:</b> {{ a.product.name }}</p>
                                <p><b>- Vendor name: </b>{{ a.vendor.name }}</p>
                                <p><b>- Version: </b>{{ versions.version }}</p>
                            {% endif %}
                            {% comment %} {% for p in products_versions %} 
                                {% if p.product_id == a.product.id %}
                                    <p><b>+ Version:</b> {{ p.version.version }}</p>
                                {% endif %}
                            {% endfor %} {% endcomment %}
                </br>
                        {% endfor %}
                </div>
            </div>
            <div class="box-info">
              <div class="title-box">
                  <h2><b style="font-size: 28px;">Exploits, ProblemTypes</b></h2>
              </div>
              <div class="content-box url">
                <p><b>- Exploits: </b>{{ exploits.value }}</p>
                  <p><b>- ProblemTypes: </b>{{ problemTypes.cwe_id }}</p>
                  <p><b>- ProblemTypes Description: </b>{{ problemTypes.description }}</p>
              </div>
          </div>
            <div class="box-info">
                <div class="title-box">
                    <h2><b style="font-size: 28px;">Solution, References, Work Around</b></h2>
                </div>
                <div class="content-box url">
                  <p><b>- Work Around: </b>{{ workaround.value }}</p>
                    <p><b>- Solution: </b>{{ solutions.value }}</p>
                    {% for r in refrences %}
                        {% if r.con_id == detail_cve.id %}
                        <b>+ URL:</b><a href="{{ r.url }}"> {{ r.url }}</a>
                </br>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            
        </div>
        <div class="col-4">
            <div class="box-info" style="margin-top:65px;">
                <div class="title-box">
                    <h2><b style="font-size: 28px;">CVE Informations</b></h2>
                </div>
                <div class="content-box" >
                    <form method="post">
                        {% csrf_token %}
                        <p><b>CVE ID:</b> {{ detail_cve.cve_id }}</p>
                        <p><b>Published Date:</b> {{ detail_cve.date_publish }}</p>
                        <p><b>Date Update: </b> {{ detail_cve.date_update }}</p>
                        <p><b> Date Reserved:</b> {{ detail_cve.date_reserved }}</p>
                        <p><b>Data Version:</b> {{ detail_cve.data_version }}</p>
                        <p><b>Organization ID: </b> {{ detail_cve.assigner_org_id }}</p>
                        <p><b>Short name:</b> {{ detail_cve.assigner_short_name }}</p>
                            <input name="follow_affect" value="null" style="display: none">
                            <input name="follow_affect" value="null" style="display: none">
                        <span><a href="{% url 'app:guidelines' %}" ></a></span>   
                    </form>
                </div>
            </div>
            <br>
                <button class="accordion"><b>CVSS V3.1</b></button>
                <div class="panel">
                    {% for m in metric %}
                    {% if m.con_id == detail_cve.id  and m.cvssv31.base_score is not none and m.cvssv31.base_severity is not none%}
                        <span style="float: right">{{ m.cvssv31.base_score }}</span>
                    </br>
                        {% comment %} <span style="float: right">{{ m.cvssv20.base_score }}</span> {% endcomment %}
                        <p class="base-score"> <b style="font-size: 20px;">Base Score: "{{ m.cvssv31.base_score }}"</b>
                        </p></br>
                        <p class="base-score"> <b style="font-size: 20px;">Vector String: "{{ m.cvssv31.vector_string }}"</b> 
                        </p></br>
                        {% if m.cvssv31.base_score > 0 and m.cvssv31.base_score < 4  %}
                        <p class="base-score" style="background-color:green"> <b style="font-size: 20px; ">Base Severity:  "{{ m.cvssv31.base_severity }}"</b> 
                        </p></br>
                        {% elif m.cvssv31.base_score >= 4 and m.cvssv31.base_score < 7 %}
                        <p class="base-score" style="background-color:yellow"> <b style="font-size: 20px; ">Base Severity:  "{{ m.cvssv31.base_severity }}"</b> 
                        </p></br>
                        {% elif m.cvssv31.base_score >= 7 and m.cvssv31.base_score < 9 %}
                        <p class="base-score" style="background-color:orange"> <b style="font-size: 20px; ">Base Severity:  "{{ m.cvssv31.base_severity }}"</b> 
                        </p></br>
                        {% else %}
                        <p class="base-score" style="background-color:red"> <b style="font-size: 20px; ">Base Severity:  "{{ m.cvssv31.base_severity }}"</b> 
                        </p></br>
                        {% endif %}
                        <p class="base-score"> <b style="font-size: 20px;">Attack Complexity: "{{ m.cvssv31.attackComplexity }}"</b>
                        </p></br>
                        <p class="base-score"> <b style="font-size: 20px;">Attack Vector: "{{ m.cvssv31.attackVector }}"</b>
                        </p></br>
                        <p class="base-score"> <b style="font-size: 20px;">Availability Impact: "{{ m.cvssv31.availabilityImpact }}"</b> 
                        </p></br>
                        <p class="base-score"> <b style="font-size: 20px;">Confidentiality Impact: "{{ m.cvssv31.confidentialityImpact }}"</b> 
                        </p></br>
                        <p class="base-score"> <b style="font-size: 20px;">Integrity Impact: "{{ m.cvssv31.integrityImpact }}"</b>
                        </p></br>
                        <p class="base-score"> <b style="font-size: 20px;">Privileges Required: "{{ m.cvssv31.privilegesRequired }}"</b>
                        </p></br>
                        <p class="base-score"> <b style="font-size: 20px;">Scope Of: "{{ m.cvssv31.scope }}"</b> 
                        </p></br>
                        <p class="base-score"> <b style="font-size: 20px;">User Interaction: "{{ m.cvssv31.userInteraction }}"</b> 
                        </p></br>
                    {% endif %}
                {% endfor %}
                </div>      
            </br>
                <button class="accordion"><b>CVSS V3.0</b></button>
                    <div class="panel">
                        {% for m in metric %}
                        {% if m.con_id == detail_cve.id  and m.cvssv30.base_score is not none and m.cvssv30.base_severity is not none%}
                    </br>
                            <p class="base-score"> <b style="font-size: 20px;">Base Score: "{{ m.cvssv30.base_score }}"</b> 
                            </p></br>
                            <p class="base-score"> <b style="font-size: 20px;">Vector String: "{{ m.cvssv30.vector_string }}"</b> 
                            </p></br>
                            {% if m.cvssv30.base_score > 0 and m.cvssv30.base_score < 4  %}
                            <p class="base-score" style="background-color:green"> <b style="font-size: 20px; ">Base Severity:  "{{ m.cvssv30.base_severity }}"</b> 
                            </p></br>
                            {% elif m.cvssv30.base_score >= 4 and m.cvssv30.base_score < 7 %}
                            <p class="base-score" style="background-color:yellow"> <b style="font-size: 20px; ">Base Severity:  "{{ m.cvssv30.base_severity }}"</b> 
                            </p></br>
                            {% elif m.cvssv30.base_score >= 7 and m.cvssv30.base_score < 9 %}
                            <p class="base-score" style="background-color:orange"> <b style="font-size: 20px; ">Base Severity:  "{{ m.cvssv30.base_severity }}"</b> 
                            </p></br>
                            {% else %}
                            <p class="base-score" style="background-color:red"> <b style="font-size: 20px; ">Base Severity:  "{{ m.cvssv30.base_severity }}"</b> 
                            </p></br>
                            {% endif %}
                        
                        {% endif %}
                    {% endfor %}
                    </div>
                </br>
                    <button class="accordion"><b>CVSS V2.0</b></button>
                    <div class="panel">
                        {% for m in metric %}
                        {% if m.con_id == detail_cve.id  and m.cvssv20.base_score is not none %}
                    </br>
                            <p class="base-score"> <b style="font-size: 20px;">Base Score: "{{ m.cvssv20.base_score }}"</b> 
                            </p></br>
                            <p class="base-score"> <b style="font-size: 20px;">Vector String: "{{ m.cvssv20.vector_string }}"</b> 
                            </p></br>
                            {% if m.cvssv20.base_score > 0 and m.cvssv20.base_score < 4  %}
                            <p class="base-score" style="background-color:green"> <b style="font-size: 20px; ">Base Severity:  "LOW"</b> 
                            </p></br>
                            {% elif m.cvssv20.base_score >= 4 and m.cvssv20.base_score < 7 %}
                            <p class="base-score" style="background-color:yellow"> <b style="font-size: 20px; ">Base Severity:  "MEDIUM"</b> 
                            </p></br>
                            {% elif m.cvssv20.base_score >= 7 and m.cvssv20.base_score < 9 %}
                            <p class="base-score" style="background-color:orange"> <b style="font-size: 20px; ">Base Severity:  "HIGH"</b> 
                            </p></br>
                            {% else %}
                            <p class="base-score" style="background-color:red"> <b style="font-size: 20px; ">Base Severity:  "CRITICAL"</b> 
                            </p></br>
                            {% endif %}
                            
                      {% comment %} {% elif m.con_id == detail_cve.id and m.cvssv20.base_score is none and m.cvssv20.base_score < 0 or m.cvssv20.base_score > 10%}  
                      <p class="base-score"> <b style="font-size: 20px;">NOT UPDATED!</b> 
                      </p></br>   {% endcomment %}
                    
                            {% endif %}
                    {% endfor %}
                    </div>
            <script>
                var acc = document.getElementsByClassName("accordion");
                var i;
                
                for (i = 0; i < acc.length; i++) {
                  acc[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.maxHeight) {
                      panel.style.maxHeight = null;
                    } else {
                      panel.style.maxHeight = panel.scrollHeight + "px";
                    } 
                  });
                }
                </script>
        </div>
    </div>
</div>
{% endblock %}