{% extends 'navbar.html' %}


{% block css %}
    a {
    text-decoration: none;
    color: black;
    }
    input, textarea {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    }
    .title-box > * {
    padding: 10px;
    background-color: black !important;
    color: white !important;
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
    margin: 0;
    }
    .box-info {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .content-box {
    background-color: lightgray !important;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 0;
    padding: 10px;
    }
    .base-score {
    background-color: black !important;
    color: white !important;
    padding: 10px;
    border-radius: 10px;
    }
    .alert-msg {
        background-color: lightgreen;
        color: white;
        padding: 10px;
        border-radius: 5px;
        border-color: red;
    }
{% endblock %}


{% block title %}
    Detail CVEs
{% endblock %}


{% block content %}
{# Thêm logic để hiện thị các trường của CVE #}
<div class="container" style="margin-top: 20px; margin-bottom: 20px">
    <div>
        <a href=#><p> < Explore CVE list</p></a>
    </div>
    <div class="row">
        <div class="col-8">
            <h1>{{ detail_cve.cve_id }}</h1>
            <div class="box-info">
                <div class="title-box">
                    <h2>DESCCRIPTION</h2>
                </div>
                <div class="content-box">
                    <p>{{ descriptions.value }}</p>
                </div>
            </div>
            <div class="box-info">
                <div class="title-box">
                    <h2>Vulnerable products, Vendor</h2>
                </div>
                <div class="content-box">
                        {% for a in affected %} 
                            {% if a.con_id == detail_cve.id %}
                                <p>Product name: {{ a.product.name }}</p>
                                <p>Vendor name: {{ a.vendor.name }}</p>
                            {% endif %}
                            {% for p in products_versions %} 
                                {% if p.product_id == a.product.id %}
                                    <p>Version: {{ p.version.version }}</p>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                </div>
            </div>
            <div class="box-info">
                <div class="title-box">
                    <h2>Solution, References</h2>
                </div>
                <div class="content-box">
                    <p>Solution: {{ solutions.value }}</p>
                    {% for r in refrences %}
                        {% if r.con_id == detail_cve.id %}
                            <p>URL: {{ r.url }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="box-info">
                <p class="base-score">BASE SCORE V3.1 >
                    {% for m in metric %}
                        {% if m.con_id == detail_cve.id %}
                            <span style="float: right">{{ m.cvssv31.base_score }}</span>
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
        </div>
        <div class="col-4">
            <div class="box-info">
                <div class="title-box">
                    <h2>CVE Informations</h2>
                </div>
                <div class="content-box">
                    <form method="post">
                        {% csrf_token %}
                            <p class="alert-msg">Test</p>
                        <p>CVE ID: {{ detail_cve.cve_id }}</p>
                        <p>Published Date: {{ detail_cve.date_publish }}</p>
                            <input name="follow_affect" value="null" style="display: none">
                            <input name="follow_affect" value="null" style="display: none">
                        <button class="btn btn-dark">Follow News Now</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="box-info">
                <div class="title-box">
                    <h2>Asking for information</h2>
                </div>
                <div class="content-box">
                    <form method="post">
                        {% csrf_token %}
                        <input type="text" name="your_name" placeholder="Your Name"><br>
                        <input type="text" name="email_address" placeholder="Email Address"><br>
                        <input type="text" name="phone_number" placeholder="Phone Number"><br>
                        <textarea name="message" placeholder="Message" rows="5"></textarea><br>
                        <button class="btn btn-dark" style="width: 100%">Sent</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}