{% extends 'navbar.html' %}


{% block css %}
    a {
    text-decoration: none;
    color: black;
    }
    input, textarea {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    }
    .title-box > * {
    padding: 10px;
    background-color: black !important;
    color: white !important;
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
    margin: 0;
    }
    .box-info {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .content-box {
    background-color: lightgray !important;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 0;
    padding: 10px;
    }
    .base-score {
    background-color: white ;
    color: black !important;
    padding: 10px;
    border-radius: 10px;
    }
    .alert-msg {
        background-color: lightgreen;
        color: white;
        padding: 10px;
        border-radius: 5px;
        border-color: red;
    }

    /*=READ NOW=*/
.btn {
    line-height: 20px;
    height: 50px;
    text-align: center;
    text-style:bold
    cursor: pointer;
    background-color:black;
  }
  .btn-one {
    color: white;
    transition: all 0.5s;
    position: relative;
  }
  .btn-one span {
    transition: all 0.5s;
  }
  .btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    transition: all 1s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: black;
    border-bottom-color: black;
    transform: scale(0.1, 1);
    
  }
  .btn-one:hover span {
    letter-spacing: 2px;
  }
  .btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  .btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
  }
  .btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }
  /*=URL=*/
.url{
    a {
        color: blue;
      position: relative;
      text-decoration: none;
    }
    
    a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      border-radius: 4px;
      background-color: #18272F;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/*=Link list=*/
  .list{
      a {
          box-shadow: inset 0 0 0 0 black;
          color: black;
            padding: 0 .25rem;
            margin: 0 -.25rem;
            left:10%;
            border-radius: 5px;
          transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
        }
        a:hover {
          color: white;
          box-shadow: inset 200px 0 0 0 black;;
        }
        
        /* Presentational styles */
        a {
          color: black;
          font-size: 19px;
          font-weight: 500;
          line-height: 0;
          text-decoration: none;
        }
  }



  /*=arrow=*/
.arrow {
    position: absolute;
    top: 19%;
    left: 14%;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);
    cursor: pointer;
}

.arrow span {
    display: block;
    width: 1vw;
    height: 1vw;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

/*= NOTIFICATIONS=*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

span{
position: relative;
display: inline-flex;
width: -10px;
height: 55px;
margin: 0 5px;
perspective: 1000px;
}
span a{
font-size: 15px;
font-style:bold;
letter-spacing: 1px;
transform-style: preserve-3d;
transform: translateZ(-25px);
transition: transform .25s;

}
span a:before,
span a:after{
position: absolute;
content: "Click to see list CVEs! ";
height: 55px;
width: 180px;
display: flex;
align-items: center;
justify-content: center;
border: 5px solid black;
box-sizing: border-box;
border-radius: 5px;
text-align:center;  
}
span a:before{
color: #fff;
background: #000;
transform: rotateY(0deg) translateZ(25px);
}
span a:after{
color: #000;
transform: rotateX(90deg) translateZ(25px);
}
span a:hover{
transform: translateZ(-25px) rotateX(-90deg);
}


.accordion {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 22px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: black;
  }
  
  .accordion:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    background-color: black ;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }

{% endblock %}


{% block title %}
   Guidelines
{% endblock %}


{% block content %}
{# Thêm logic để hiện thị các trường của CVE #}
<div class="container" style="margin-top: 100px; margin-bottom: 200px">
    <p class="list"><a href={% url 'app:home' %}>Back Home</a></p>
    <div class="arrow" onclick="goBack()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <div class="row">
      {% comment %} <div class="col-4">
        <div class="box-info">
          <div class="title-box ">
            <h2><b>Content Bookmarks</b></h2>
          </div>
          <div class="content-box ">
            <p><a href="#1"><b>1. Description</b></a></p>
              <p><a href="#2"><b>2. Vulnerable products, Vendor, Version</b></a></p>
                <p><a href="#3"><b>3. Exploits & ProblemTypes</b></a></p>
                  <p> <a href="#4"><b>4. Solution, References, Work Around</b></a></p>
                    <p> <a href="#5"><b>5. CVE Informations</b></a></p>
                      <p> <a href="#6"><b>6. CVSS</b></a></p>
          </div>
      
        </div>
      </div> {% endcomment %}
        <div class="col-8">
            <h1><b>Instructions On How To Read An CVE Full!</b></h1>
            <div class="box-info">
                <div >
                   <button class="accordion" style="font-size:25px"><b id="1">Description</b></button>
                <div class="content-box panel">
                    <p><i>"Description (DESCRIPTION) is an important part of the Common Vulnerabilities and Exposures (CVE) identifier, providing a detailed summary of the nature of the vulnerability and how it operates."</i></p>
                  <b>🛎️ Importance of the CVE description:</b> 
                  <p> ➡️ The CVE description provides system administrators, security researchers, and users with the information needed to understand the nature and severity of the vulnerability.</p> 
                  <p>➡️ Helps identify affected systems and applications.</p> 
                  <p>➡️ Support the development of patches and mitigation solutions.</p> 
                  <p>➡️ Raise awareness of security threats and encourage better security practices.</p> 
                  <p>➡️ Additionally, the CVE description can include additional information such as the date of discovery, the researcher who discovered the vulnerability, links to in-depth analysis, and more.</p> 
                </div>
              </div>
            </div>
            <div class="box-info">
                <div >
                    <button class="accordion" style="font-size:25px"><b id="2">Vulnerable products, Vendor, Version</b></button>
                
                <div class="content-box panel">
                                <p><b style="font-size:23px;">- Product name:</b><i> "Although the Common Vulnerabilities and Exposures (CVE) format does not include a separate "product name" field, it does contain information about the affected product. This information is often more detailed than a general product catalog."</i></p>
                                <b>🛎️ Importance of the "Product" field:</b>
                                <p>➡️ Helps pinpoint systems and applications vulnerable to specific CVEs.</p>
                                <p>➡️ Allows system administrators to focus patching and risk mitigation efforts on affected products.</p>
                                <p>➡️ Assists users in determining whether their personal systems are affected by vulnerabilities and taking appropriate steps to protect themselves.</p>
                                <p><b style="font-size:23px;">- Vendor name: </b><i> "Vendor field in the CVE (Common Vulnerabilities and Exposures) format identifies the software or hardware vendor responsible for the product affected by the described vulnerability."</i></p>
                        <b>🛎️ The importance of the "Vendor" field</b>
                                <p>➡️  Helps users and system administrators easily identify who is responsible for resolving vulnerabilities and providing patches.</p>
                                <p>➡️  Allows users to contact the vendor directly to seek support or further information about the vulnerability.</p>
                                <p>➡️  Assists organizations in coordinating patching and risk mitigation efforts across different vendors.</p>
                               <p><b style="font-size:23px;">- Versions: </b><i> "Version field in the CVE (Common Vulnerabilities and Exposures) format identifies the specific version of the software or hardware product affected by the described vulnerability."</i></p>
                        <b>🛎️ Importance of the "Version" field:</b>
                                <p>➡️  Helps users and system administrators accurately determine which versions of the product are affected by the vulnerability.</p>
                                <p>➡️ Allows users to update only affected versions, saving time and resources.</p>
                                <p>➡️  Assist vendors in releasing the correct patch for affected versions.</p>
                </div>
              </div>
            </div>
            <div class="box-info">
              <div >
                  <button class="accordion" style="font-size:25px"><b id="3">Exploits & ProblemTypes</b></button>
              
              <div class="content-box url panel">
                <p><b style="font-size:23px;">- Exploits: </b><i> "Although the Common Vulnerabilities and Exposures (CVE) format does not include an official "Exploits" field, there are still ways to find information about available exploits for a specific CVE vulnerability."</i></p>
                        <b>🛎️ Reasons why there is no Exploits field:</b>
                                <p>➡️   <b>Complexity and variability:</b> Mining can vary greatly in complexity, how it works, and how effective it is. Maintaining a formal list of exploits for each CVE would be expensive and difficult.</p>
                                <p>➡️  <b>Risk of Encouraging Exploits:</b> Listing specific exploits could unintentionally provide attackers with useful insights to exploit the vulnerability more easily.</p>
                                <p>➡️ <b> Rapid change:</b> New exploits can be developed rapidly, making maintaining an official list obsolete.</p>
                                <p><b style="font-size:23px;">- ProblemTypes: </b><i> "ProblemType refers to a standardized way of classifying the type of vulnerab
                                  ility based on how it can be exploited. It helps categorize vulnerabilities and understand their potential impact on systems."</i></p>
                                <b>🛎️ Importance of the "ProblemTypes" field:</b>
                                <p>➡️   Helps users and system administrators easily classify and understand the nature of vulnerabilities.</p>
                                <p>➡️  Enables organizations to prioritize patching and risk mitigation efforts based on issue type.</p>
                                <p>➡️   Assists security researchers and experts in assessing the severity and exploitation potential of vulnerabilities.</p>
              </div>
            </div>
          </div>
            <div class="box-info">
                <div >
                  <button class="accordion" style="font-size:25px"><b id="4">Solution, References, Work Around</b></button>
                <div class="content-box url panel">
                  <p><b style="font-size:23px;">- Work Around: </b><i> "Workaround is a temporary solution to mitigate the risks associated with the vulnerability described in the Common Vulnerabilities and Exposures (CVE) log."</i></p>
                        <b>🛎️ It is often used in cases:</b>
                                <p>➡️  <b> No official patch yet:</b> The affected product vendor has not released a security patch to fully fix the vulnerability.</p>
                                <p>➡️ <b> Patches causing issues:</b> Official patches may cause performance or compatibility issues with some systems.</p>
                                <p>➡️  <b> Limited patch deployment time:</b> Applying a patch to all affected systems may take time. Workaround can be used as a temporary solution while waiting for the official patch deployment.</p>
                                <p><b style="font-size:23px;">- Solution: </b><i> "The "Solutions" field in a CVE (Common Vulnerabilities and Exposures) entry doesn't have a standardized format or content across different sources. However, it generally provides information about how to address the vulnerability and reduce the associated risks."</i></p>
                                <b>🛎️ What to Expect in the Solutions Field:</b>
                                        <p>➡️   <b>References to Patches:</b> The most common solution mentioned is a <b>security patch</b> released by the vendor of the affected software or hardware. This patch addresses the underlying vulnerability in the code, eliminating the possibility of exploitation.</p>
                                        <p>➡️ <b> Workarounds (Mitigations):</b> In cases where a permanent fix is unavailable or takes time to develop, <b>workarounds</b> are presented as temporary measures to mitigate the risks associated with the CVE. These workarounds don't eliminate the vulnerability itself but make exploitation more difficult or reduce the attack surface.</p>
                                        <p>➡️  <b> Additional Guidance:</b> Some CVE entries may provide additional guidance or recommendations, such as:</p>
                                        <p> •  <b>Configuration changes:</b> Adjusting system configurations to minimize exposure to the vulnerability.</p>
                                        <p> • <b>Disabling affected features:</b> Temporarily disabling features or functionality that are directly related to the vulnerability.</p>
                                        <p> • <b>Implementing access controls:</b> Restricting access to vulnerable components or limiting user privileges to reduce the potential impact of an exploit.</p>
                                        <p><b style="font-size:23px;">- URL: </b><i> "A CVE (Common Vulnerabilities and Exposures) URL is a unique link to the official CVE website that provides detailed information about a specific security vulnerability. This URL is created according to the following structure: <b>'https://nvd.nist.gov/vuln/detail/(CVE-ID)'</b>"</i></p>
                                        <b>🛎️ Purpose of the URL:</b>
                                                <p>➡️   Provide users with access to official and up-to-date information about a specific security vulnerability.</p>
                                                <p>➡️  Includes detailed information such as vulnerability description, severity level, affected systems, security patches, workarounds, etc.ss</p>
                                                <p>➡️   Helps users assess risk and take appropriate remediation measures to protect their systems.</p>
                </br>
              </div>   
                </div>
            </div>
            
        </div>
        <div class="col-4">
            <div class="box-info" style="margin-top:65px;">
                <div >
                    <button class="accordion" style="font-size:25px"><b id="5">CVE Informations</b></button>
                <div class="content-box panel" >
                    <form method="post">
                        {% csrf_token %}
                        <p><b>CVE ID: </b> CVE ID stands for Common Vulnerabilities and Exposures Identifier, also known as Common Vulnerability Identifier.</p>
                       
                        <p><b>Published Date:</b> (Date made public) of a CVE.</p>
                       <p><b>Date Update: </b> CVE "Recently updated" date.</p>
                        <p><b> Date Reserved:</b> "In a CVE entry, "Date Reserved" signifies the official reservation of a unique ID (CVE-ID) for a reported security flaw. This kickstarts the process of documenting and tracking the vulnerability across different security platforms."</p>
                       <p><b>Data Version:</b> The "Data Version" in a CVE (Common Vulnerabilities and Exposures) entry typically refers to the version of the CVE data schema or format used to represent the information about the vulnerability. This version number indicates the specific format or structure used to encode and store the CVE entry. It helps in understanding how the information is organized and interpreted within CVE databases and tools. As the CVE data schema evolves over time to accommodate new requirements or improvements, the data version helps ensure compatibility and consistency across different implementations and releases.</p>
                        <p><b>Organization ID: </b> 
                          In a CVE (Common Vulnerabilities and Exposures) entry, the "Organization ID" typically refers to a unique identifier assigned to the organization or entity that reported or disclosed the vulnerability associated with that CVE. This ID helps to identify the entity responsible for discovering, reporting, or coordinating the response to the vulnerability. It aids in tracking and attributing the source of the vulnerability information within the CVE ecosystem.</p>
                        <p><b>Organization Short Name:</b> In a CVE (Common Vulnerabilities and Exposures) entry, the "Organization Short Name" typically refers to the organization or vendor that discovered or reported the vulnerability associated with that CVE. It is a way to attribute the discovery or reporting of the vulnerability to a specific entity. This information helps in understanding who identified the vulnerability and can be useful for further investigation or collaboration between different organizations working on cybersecurity issues.</p>
                            <input name="follow_affect" value="null" style="display: none">
                            <input name="follow_affect" value="null" style="display: none">
                        <span><a href="{% url 'app:list_cves' page=1%}" ></a></span>   
                    </form>
                </div>
              </div>
            </div>
            <br>
                <button class="accordion"><b id="6">CVSS V3.1</b></button>
                <div class=" panel" style="background-color: lightgray;">
                  <p style="color: black;"><b>Base Score:</b> The Base Score of a CVE (Common Vulnerabilities and Exposures) in CVSS v3.1 reflects the overall severity of the vulnerability.</p>
                  <p style="color: black;"><b></b>➡️ "It's a numerical value (0.0 to 10.0)."</p> 
                  <hr>
                  <p style="color: black;"><b>Vector String:</b>  The CVSS v3.1 vector string is a text representation of a set of CVSS metrics. It is commonly used to record or transfer CVSS metric information in a concise form.</p> 
                  <p style="color: black;"><b></b>➡️ "Exploit: (AV, AC, PR, UI)"</p> 
                 
                  <p style="color: black;"><b></b>➡️ "Impact: (C, I, A), S"</p> 
                  <hr>
                  <p style="color: black;"><b>Base Severity:</b>The Base severity of a vulnerability.</p> 
                 
                  <p style="color: black;"><b></b>➡️ "Metric Value: (Low, High, Medium, Critical)"</p> 
                  <hr>
                  <p style="color: black;"><b>Attack Complexity:</b> This metric describes the conditions beyond the attacker’s control that must exist in order to exploit the vulnerability.</p> 
                  
                  <p style="color: black;"><b></b>➡️ "Metric Value: ( Low (L), High (H))"</p> 
                  <hr>
                  <p style="color: black;"><b>Attack Vector:</b>This metric reflects the context by which vulnerability exploitation is possible.</p> 
                 
                  <p style="color: black;"><b></b>➡️ "Metric Value: (Network (N), Adjacent (A), Local (L), Physical (P))"</p> 
                  <hr>
                  <p style="color: black;"><b>Availability Impact:</b >This metric measures the impact to the availability of the impacted component resulting from a successfully exploited vulnerability.</p> 
                  <p style="color: black;"><b></b>➡️ "Metric Value: (None (N), Low (L), High (H))"</p>
                  <hr> 
                  <p style="color: black;"><b>Confidentiality Impact:</b> This metric measures the impact to the confidentiality of the information resources managed by a software component due to a successfully exploited vulnerability. </p> 
                  <p style="color: black;"><b></b>➡️ "Metric Value: (None (N), Low (L), High (H))"</p> 
                  <hr>
                  <p style="color: black;"><b>Integrity Impact:</b>This metric measures the impact to integrity of a successfully exploited vulnerability. Integrity refers to the trustworthiness and veracity of information.</p> 
                  <p style="color: black;"><b></b>➡️ "Metric Value: (None (N), Low (L), High (H))"</p> 
                  <hr>
                  <p style="color: black;"><b>Privileges Required: </b>This metric describes the level of privileges an attacker must possess before successfully exploiting the vulnerability.</p> 
                  <p style="color: black;"><b></b>➡️ "Metric Value: (None (N), Low (L), High (H))"</p> 
                  <hr>
                  <p style="color: black;"><b>Scope Of:</b>The Scope metric captures whether a vulnerability in one vulnerable component impacts resources in components beyond its security scope.</p> 
                  <p style="color: black;"><b></b>➡️ "Metric Value: (Unchanged (U), Changed (C))"</p> 
                  <hr>
                  <p style="color: black;"><b>User Interaction:</b>This metric captures the requirement for a human user, other than the attacker, to participate in the successful compromise of the vulnerable component</p> 
                  <p style="color: black;"><b></b>➡️ "Metric Value: (None (N), Required (R))"</p> 
                </div>      
            </br>
            <button class="accordion"><b>CVSS V3.0</b></button>
                <div class="panel url" style="background-color: lightgray;">
                    <p style="color: black;"><b>"This version was released in 2015 and overcomes many limitations of CVSS v2.0. CVSS v3.0 provides greater granularity on the factors that influence vulnerability severity and allows customization of the system to fit specific needs."</b></p> 
                </div>      
            </br>
            <button class="accordion"><b>CVSS V2.0</b></button>
                <div class="panel url" style="background-color: lightgray;">
                    <p style="color: black;"><b>"This version was released in 2007 and has been the most popular version of CVSS for many years. However, CVSS v2.0 has some limitations, including a lack of granularity and customization."</b></p> 
                </div>      
            </br>
                
                    </div>
           
        </div>
    </div>
</div>
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        } 
      });
    }
    </script>
{% endblock %}