{% extends 'navbar.html' %}

{% block css %}
    a {
    text-decoration: none;
    color: black;
    }
    .button-paging {
        padding-left: 10px;
        padding-right: 10px;
        margin: 10px;
        border-radius: 5px;
    }
    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
    }
{% endblock %}


{% block title %}
    List CVEs
{% endblock %}


{% block content %}
<div class="container">
    <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <form method="post">
                {% csrf_token %}
                <div class="input-group">
                    <input name="search_focus" type="search" class="form-control" placeholder="Search..."/>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </div>

    </div>
    <div class="row" style="margin-top: 30px;">
        {# Hiển thị filter year#}
        <div class="col-3">
            <h3>FINDING METHODS</h3>
            <hr>
            <form method="post">
                {% csrf_token %}
                <input type="checkbox" id="product" name="product" value="product">
                <label for="product">Product</label><br>
                <input type="checkbox" id="vendor" name="vendor" value="vendor">
                <label for="vendor">Vendor</label><br><br>
                <h3>PUBLISHED YEARS</h3>
                <div class="dropdown">
                    {% comment %} <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Select Year
                    </button> {% endcomment %}
                    {% for it in page_obj %}
                        <input type="checkbox" id="years" name="filter_year" value="{{ it.year }}">
                        <label for="years">{{ it.year }}</label><br>
                    {% endfor %}
                </div></br>
                <h3>SORT BY</h3>
                <hr>
                <input type="checkbox" id="newest" name="newest" value="newest">
                <label for="newest">Newest</label><br>
                <input type="checkbox" id="oldest" name="oldest" value="oldest">
                <label for="oldest">Oldest</label><hr>
                <button class="btn btn-dark">Find</button>
            </form>

        </div>
        {# Thêm logic trỏ vào detail cve để hiển thị nó #}
        <div class="col-9 ">
            <h2>List CVEs</h2>
            {% for cve in page_obj %}
        </br>
                <div class="col" >
                    <div class="card h-100" style="border-width:2px; border-color:black">
                        <div class="card-body">
                            <h3 class="card-title">
                                <a href="{% url 'app:detail_cves' pk=cve.pk %}">{{ cve.cve_id }}</a>
                            </h3>
                            <div class="card-body" style="padding: 30px;">
                                <p class="card-text">
                                    - Year: {{ cve.year }}
                                </p>
                                <p class="card-text">
                                    - Publish Date: {{ cve.date_publish }}
                                </p>
                                <p class="card-text">
                                    {% for a in page_obj.affected %}
                                        {% if a.con_id == cve.id %}
                                            <p class="card-text">- Product: {{ a.product.name }}</p>
                                        {% endif %}
                                    {% endfor %}
                                </p>
                                <a href="{% url 'app:detail_cves' pk=cve.pk %}">
                                    <button class="btn btn-dark"> <b style= "color: dodgerblue"> READ </b>NOW</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="pagination">
                <a href="{% url 'app:list_cves' page=page.prev %}"><button class="button-paging"><< Prev</button></a>
                <button class="button-paging">Page {{ page.current }} of  {{ len_page }}</button>
                <a href="{% url 'app:list_cves' page=page.next %}"><button class="button-paging">Next >></button></a>
            </div>
            </div> 
    </div>
</div>
{% endblock %}