{% extends 'navbar.html' %}

{% block css %}
a {
  text-decoration: none;
  color: black;
  }
  .pagination {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  {% comment %} /*=CARD TITLE=*/
    .card-title{
        a {
            box-shadow: inset 0 0 0 0 black;
            color: black;
              padding: 0 .25rem;
              margin: 0 -.25rem;
              border-radius: 5px;
            transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
          }
          a:hover {
            color: white;
            box-shadow: inset 200px 0 0 0 black;;
          }
          
          /* Presentational styles */
          a {
            color: black;
            font-family: 'Poppins', sans-serif;
            font-size: 23px;
            font-weight: 600;
            line-height: 0;
            text-decoration: none;
          }
    } {% endcomment %}

 
  /*=READ NOW=*/
  .btn {
      line-height: 20px;
      height: 60px;
      text-align: center;
      width: 300px;
      cursor: pointer;
      background-color:black;
    }
    .btn-one {
      color: white;
      transition: all 0.5s;
      position: relative;
    }
    .btn-one span {
      transition: all 0.5s;
    }
    .btn-one::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      opacity: 0;
      transition: all 1s;
      border-top-width: 1px;
      border-bottom-width: 1px;
      border-top-style: solid;
      border-bottom-style: solid;
      border-top-color: black;
      border-bottom-color: black;
      transform: scale(0.1, 1);
      
    }
    .btn-one:hover span {
      letter-spacing: 2px;
    }
    .btn-one:hover::before {
      opacity: 1; 
      transform: scale(1, 1); 
    }
    .btn-one::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: all 0.3s;
      background-color: rgba(255,255,255,0.1);
    }
    .btn-one:hover::after {
      opacity: 0; 
      transform: scale(0.1, 1);
    }
    

/*=PAGE=*/
.pagination-style-one a { 
  padding: 10px; 
  margin: 15px;
  background: black; 
  color: white; 
  border-radius: 80%; 
  box-shadow: 0px 5px 10px 5px rgba(0,0,0,.1);}
.pagination-style-one a.selected, 
.pagination-style-one a:hover, 
.pagination-style-one a:active, 
.pagination-style-one a:focus { 
  padding: 15px; 
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,.5);
}

.custom-select {
  position: relative;
  width: 100%;
  height:40px;
  font-size:17px;
  text-align:center;
  background-color:white;
  color:black;
  border-radius:5px;
}

/*= NOTIFICATIONS=*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

span{
position: relative;
display: inline-flex;
width: -10px;
height: 55px;
margin: 0 5px;
perspective: 1000px;
}
span a{
font-size: 15px;
letter-spacing: 1px;
transform-style: preserve-3d;
transform: translateZ(-25px);
transition: transform .25s;

}
span a:before,
span a:after{
position: absolute;
content: "Your Followed!";
height: 60px;
width: 130px;
display: flex;
align-items: center;
justify-content: center;
border: 5px solid black;
box-sizing: border-box;
border-radius: 5px;
}
span a:before{
color: #fff;
background: #000;
transform: rotateY(0deg) translateZ(25px);
}
span a:after{
color: #000;
transform: rotateX(90deg) translateZ(25px);
}
span a:hover{
transform: translateZ(-25px) rotateX(-90deg);
}
  


/*Check Box*/
body{
  counter-reset: checkBox-counter 0 ;
  
}

div{
counter-reset: checkBox-length;


input[type="checkBox"]:after{
  <!-- counter-increment: checkBox-length; -->
  content: counter(checkBox-length);
  position: relative;
  top: 15px;
  
}
input:checked{
   counter-increment: checkBox-counter;
   
}
}

main:after{
content: "List Your Selected : " counter(checkBox-counter) ;
display: block;
position: absolute; /*fixed*/
margin:-15px;
}


input.largerCheckbox {
  width: 30px;
  height: 20px;
}


@media screen and (max-width: 1000px) {
  div.example1 {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  div.example2 {
    display: none;
  }
}

/*=URL=*/
.url{
    a {
        color: blue;
      position: relative;
      text-decoration: none;
    }
    
    a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      border-radius: 4px;
      background-color: #18272F;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

{% endblock %}


{% block title %}
    List Products
{% endblock %}


{% block content %}

<div class="container">
  <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
      <div class="col-3">
      </div>
      <div class="col-9" >
          <form method="post">
              {% csrf_token %}
              <div class="input-group">
                  <input name="search_focus" type="search" class="form-control" placeholder="Find product..."/>
                  <button type="submit" class="btn btn-one" style="width:120px; ">
                      <i class="fas fa-search"></i>
                  </button>
                  <div>
                      <span><a {% if user.is_authenticated %} href="{% url 'accounts:list_product' %}"  {% else %} href="{% url 'accounts:login' %}"    {% endif %}></a></span>
              </div> 
              </div>
          </form>
          <!--Thêm logic để link đến các key word-->
          <div class="letterlist" style="margin:30px;">
            <form method="post">
              {% csrf_token %}
              {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
                  <button type="submit" name="letter" value="{{ letter }}" style="background-color:black; width:30px; height:30px; color:white;">{{ letter }}</button>
              {% endfor %}
          </form>
        </div>
      </div>

  </div>
  <div class="row" style="margin-top: 30px;">
      <div class="col-3 " >
      
      </div>
      
      <div class="col-9 ">
          <h2 style="font-size: 35px; text-align:center"><b><u>List Products</u></b></h2>
          {% for p in page_obj %}
          </br>
            <div class="col" >
                <div class="card h-100" style="border-width:2px; border-color:black">
                  <div class="card-body">
                    <h3 class="card-title">
                      <form method="post" action="{% url 'accounts:list_cve_by_product'  %}" id="search_product_form">
                        {% csrf_token %}
                        <input type="hidden" name="search_product" id="search_product_input">
                        <a href="{% url 'accounts:list_cve_by_product'  %}" class="product-link"><b>{{ p.name }}</b></a>
                      </br>
                      <!--Thêm hàm count trong back end-->
                        <p class="url"> Number of cves: 
                          
                         </p>{% for c in counts %}
                        {% if c.0 == p %}
                            {{ c.1 }}
                        {% endif %}
                      {% endfor %}
                    </form>
                  </h3>  
                       <div  style="height:30px;">
                        <input type="checkbox" id="morning" name="selected_products" value="{{ p.name }}" class="largerCheckbox">
                          <label for="morning"><i style="font-size:17px;">Check for follow this product!</i></label>
                      </div>
                        <div class="card-body" style="padding: 30px;">
                         
                            <p class="card-text">
                                <b> Product Name:</b> "{{ p.name }}"
                            <!-- </p>
                            <p class="card-text">
                                <b> Product Version: </b>"Test"
                            </p> -->
                          </div>  
                    </div>
                  </div>
            </div>
      
          {% endfor %}
           </br>
         
           <div class="pagination pagination-style-one m-t-20">
            <a href="{% if letter %}{% url 'app:list_products' page=page.prev %}?letter={{ letter }}{% if search_focus %}&search_focus={{ search_focus }}{% endif %}{% elif search_focus %}{% url 'app:list_products' page=page.prev %}?search_focus={{ search_focus }}{% else %}{% url 'app:list_products' page=page.prev %}{% endif %}">< Pre</a>
            <a style="color:white">Page {{ page.current }} of {{ len_page }}</a>
            <a href="{% if letter %}{% url 'app:list_products' page=page.next %}?letter={{ letter }}{% if search_focus %}&search_focus={{ search_focus }}{% endif %}{% elif search_focus %}{% url 'app:list_products' page=page.next %}?search_focus={{ search_focus }}{% else %}{% url 'app:list_products' page=page.next %}{% endif %}">Next ></a>
        </div>
        
      </div>   
      
  </div>
  
</div>
 <!--Thêm logic để follow-->
 <div class="card h-10 example1" style="border-width:2px; border-color:black; margin-top:360px; width:425px;  margin-left:150px; bottom:2280px; position:sticky;">
  <div class="card-body" style="padding: 30px;">
    <h3 >
      <a href="#" ><b>FOLLOW PRODUCTS</b></a>
  </h3> 
  <hr>
  </br>
      <p class="card-text" >
        <main></main>
      </br>
        <p id="demo1"></p>
      </p>
      <p class="card-text" style="margin-left:-20px; width:30px;margin-top:50px;">
      <hr>
      <button class="btn btn-one" onclick="myFunction1()" style="width:100px;"> <b> CHECK</button> 
      </br> 
      <hr>
      {% if msg %}
      <p class="alert-msg">{{ msg }}</p>
  {% endif %}
  {% if user.is_authenticated %}
      <form action="{% url 'app:list_products' page=1 %}" method="post">
        {% csrf_token %}
        <input type="hidden" id="selected_products_localstorage" name="selected_products_localstorage">
      <button type="submit" class="btn btn-one" style="width:100px;"  onclick="followAll1()">  <b style= "color: dodgerblue;">FOLLOW </b><b> NOW</b></button>
      </form>
      {% else %}
      <form action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %}
        <input type="hidden" id="selected_products_localstorage" name="selected_products_localstorage">
      <button type="submit" class="btn btn-one" style="width:100px;" >  <b style= "color: dodgerblue;">FOLLOW </b><b> NOW</b></button>
      </form>
      {% endif %}
    </p>
    </div>
  </div> 

<!--Chia hiển thị màn hình-->
  
  <!--Thêm logic để follow-->
 <div class="card h-10 example2" style="border-width:2px; border-color:black; margin-top:380px; width:225px;  margin-left:50px; bottom:2660px; position:sticky;">
  <div class="card-body" style="padding: 30px;">
    <h3 class="card-title">
      <a href="#" ><b>FOLLOW PRODUCTS</b></a>
  </h3> 
  <hr>
  </br>
      <p class="card-text" >
        <main></main>
      </br>
        <p id="demo2"></p>
      </p>
      <p class="card-text" style="margin-left:-20px; width:30px;margin-top:50px;">
      <hr>
      <button class="btn btn-one" onclick="myFunction2()" style="width:100px;"> <b> CHECK</button> 
      </br> 
      <hr>
      {% if msg %}
      <p class="alert-msg">{{ msg }}</p>
  {% endif %}
  {% if user.is_authenticated %}
      <form action="{% url 'app:list_products' page=1 %}" method="post">
        {% csrf_token %}
        <input type="hidden" id="selected_products_localstorage" name="selected_products_localstorage">
      <button type="submit" class="btn btn-one" style="width:100px;"  onclick="followAll1()">  <b style= "color: dodgerblue;">FOLLOW </b><b> NOW</b></button>
      </form>
      {% else %}
      <form action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %}
        <input type="hidden" id="selected_products_localstorage" name="selected_products_localstorage">
      <button type="submit" class="btn btn-one" style="width:100px;" >  <b style= "color: dodgerblue;">FOLLOW </b><b> NOW</b></button>
      </form>
      {% endif %}
    </p>
    </div>
  </div> 
  <script>
    localStorage.removeItem('search_product');
    // Lấy tất cả các thẻ 'a' có class 'product-link'
    const productLinks = document.querySelectorAll('.product-link');

    // Lặp qua từng thẻ 'a'
    productLinks.forEach(link => {
        // Lắng nghe sự kiện click
        link.addEventListener('click', function(event) {
            event.preventDefault(); // Ngăn chặn hành động mặc định của liên kết

            const productName = this.innerText; // Lấy tên sản phẩm từ nội dung của thẻ 'a'

            // Lưu giá trị vào local storage với khóa là "search_product"
            localStorage.setItem('search_product', JSON.stringify(productName));

            // Đặt giá trị cho input trong form
            document.getElementById('search_product_input').value = JSON.stringify(productName);

            // Submit form
            document.getElementById('search_product_form').submit();
        });
    });
</script>
  <script>
    function myFunction1() {
      // Lấy tất cả các checkbox được chọn
      var checkboxes = document.querySelectorAll("input[type='checkbox']:checked");
      // Tạo danh sách để lưu trữ giá trị
      var values = [];
      // Lặp qua từng checkbox và lấy giá trị
      for (var i = 0; i < checkboxes.length; i++) {
        values.push(checkboxes[i].value);
      }
      // Hiển thị danh sách giá trị
      document.getElementById("demo1").innerHTML = values.join(" ; ");
    }
    </script>
    <script>
      function myFunction2() {
        // Lấy tất cả các checkbox được chọn
        var checkboxes = document.querySelectorAll("input[type='checkbox']:checked");
        // Tạo danh sách để lưu trữ giá trị
        var values = [];
        // Lặp qua từng checkbox và lấy giá trị
        for (var i = 0; i < checkboxes.length; i++) {
          values.push(checkboxes[i].value);
        }
        // Hiển thị danh sách giá trị
        document.getElementById("demo2").innerHTML = values.join(" ; ");
      }
      </script>


      <script>
        function followAll1() {
          // Lấy tất cả các checkbox được chọn
          var checkboxes = document.querySelectorAll("input[type='checkbox']:checked");
        
          // Tạo danh sách để lưu trữ giá trị
          var values = [];
        
          // Lặp qua từng checkbox và lấy giá trị
          for (var i = 0; i < checkboxes.length; i++) {
            values.push(checkboxes[i].value);
          }
        
          // Lưu trữ danh sách giá trị vào Local Storage
          localStorage.setItem("selected_checkboxes", JSON.stringify(values));
          document.getElementById("selected_products_localstorage").value = JSON.stringify(values);
          // Hiển thị thông báo
          {% comment %} alert("Đã lưu trữ giá trị checkbox!"); {% endcomment %}
        }
      </script>
      <script>
        function followAll2() {
          // Lấy tất cả các checkbox được chọn
          var checkboxes = document.querySelectorAll("input[type='checkbox']:checked");
        
          // Tạo danh sách để lưu trữ giá trị
          var values = [];
        
          // Lặp qua từng checkbox và lấy giá trị
          for (var i = 0; i < checkboxes.length; i++) {
            values.push(checkboxes[i].value);
          }
        
          // Lưu trữ danh sách giá trị vào Local Storage
          localStorage.setItem("selected_checkboxes", JSON.stringify(values));
        
          // Hiển thị thông báo
          {% comment %} alert("Đã lưu trữ giá trị checkbox!"); {% endcomment %}
        }
      </script>

{% endblock %}