{% extends 'navbar.html' %}

{% block css %}
    a {
    text-decoration: none;
    color: black;
    }
    .button-paging {
        padding-left: 10px;
        padding-right: 10px;
        margin: 10px;
        border-radius: 5px;
    }
{% endblock %}


{% block title %}
    List CVEs
{% endblock %}


{% block content %}
<div class="container">
    {# Hiển thị thanh search #}
    <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <form method="post">
                {% csrf_token %}
                <div class="input-group">
                    <input name="search_focus" type="search" class="form-control" placeholder="Search..."/>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </div>

    </div>
    <div class="row" style="margin-top: 30px;">
        {# Hiển thị filter #}
        <div class="col-3">
            <h3>FINDING METHODS</h3>
            <hr>
            <form method="post">
                {% csrf_token %}
                <input type="checkbox" id="product" name="product" value="product">
                <label for="product">Product</label><br>
                <input type="checkbox" id="vendor" name="vendor" value="vendor">
                <label for="vendor">Vendor</label><br>
                <input type="checkbox" id="others" name="others" value="others">
                <label for="others">Others</label><br><br>
                <h3>PUBLISHED YEARS</h3>
                {# Hiển thị year qua logic #}
                <hr>
                
                    <input type="checkbox" id="years" name="filter_year" value="">
                    <label for="years"></label><br>
               
                <h3>SORT BY</h3>
                <hr>
                <input type="checkbox" id="newest" name="newest" value="newest">
                <label for="newest">Newest</label><br>
                <input type="checkbox" id="oldest" name="oldest" value="oldest">
                <label for="oldest">Oldest</label><hr>
                <button class="btn btn-dark">Find</button>
            </form>

        </div>
        {# Hiển thị thẻ Cve #}
        {# Thêm logic trỏ vào model cve để hiển thị nó #}
        <div class="col-9">
            <h2>List CVEs</h2>
            {% if listCVE %}
                    {% for i in listCVE %}
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h3 class="card-title">CVE test</h3>
                                <div class="card-body" style="padding: 20px;">
                                    <a href="{% url 'app:detail_cves' pk=i.pk %}"><h3 class="card-title">{{ i.cve_id }}</h3>
                                    </a><br>
                                    <p class="card-text">
                                        Year: {{ i.year }}
                                    </p>
                                    <p class="card-text">
                                        Publish Date: {{ i.date_publish }}
                                    </p>
                                    {% for a in affected%}
                                        <p class="card-text">
                                            {% if a.con_id == i.id %}
                                                Product: {{ a.product.name }}
                                            {% endif %}
                                        </p>
                                    {% endfor %}
                                    <a>
                                    <a href="{% url 'app:detail_cves' pk=i.pk %}">
                                        <button class="btn btn-dark">READ NOW</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                </div>
                    {% endfor %}
                {% else %}
                    <p style="color: white">There are currently no CVEs</p>
                {% endif %}
        <div class="pagination">
            {% for page in  paginator.page_range %}
            <a href="{% url 'app:list_cves' page=page %}"><button class="button-paging">{{ page }}</button></a>
        {% endfor %}
        </div>
        </div>
    </div>
</div>
{% endblock %}