{% extends 'navbar.html' %}

{% block css %}
a {
  text-decoration: none;
  color: black;
  }
  .pagination {
      display: flex;
      align-items: center;
      justify-content: center;
  }

 

 
  /*=READ NOW=*/
  .btn {
      line-height: 20px;
      height: 60px;
      text-align: center;
      width: 300px;
      cursor: pointer;
      background-color:black;
    }
    .btn-one {
      color: white;
      transition: all 0.5s;
      position: relative;
    }
    .btn-one span {
      transition: all 0.5s;
    }
    .btn-one::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      opacity: 0;
      transition: all 1s;
      border-top-width: 1px;
      border-bottom-width: 1px;
      border-top-style: solid;
      border-bottom-style: solid;
      border-top-color: black;
      border-bottom-color: black;
      transform: scale(0.1, 1);
      
    }
    .btn-one:hover span {
      letter-spacing: 2px;
    }
    .btn-one:hover::before {
      opacity: 1; 
      transform: scale(1, 1); 
    }
    .btn-one::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: all 0.3s;
      background-color: rgba(255,255,255,0.1);
    }
    .btn-one:hover::after {
      opacity: 0; 
      transform: scale(0.1, 1);
    }
    

/*=PAGE=*/
.pagination-style-one a { 
  padding: 10px; 
  margin: 15px;
  background: black; 
  color: white; 
  border-radius: 80%; 
  box-shadow: 0px 5px 10px 5px rgba(0,0,0,.1);}
.pagination-style-one a.selected, 
.pagination-style-one a:hover, 
.pagination-style-one a:active, 
.pagination-style-one a:focus { 
  padding: 15px; 
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,.5);
}

.custom-select {
  position: relative;
  width: 100%;
  height:40px;
  font-size:17px;
  text-align:center;
  background-color:white;
  color:black;
  border-radius:5px;
}

/*= NOTIFICATIONS=*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

span{
position: relative;
display: inline-flex;
width: -10px;
height: 55px;
margin: 0 5px;
perspective: 1000px;
}
span a{
font-size: 15px;
letter-spacing: 1px;
transform-style: preserve-3d;
transform: translateZ(-25px);
transition: transform .25s;

}
span a:before,
span a:after{
position: absolute;
content: "Your Followed!";
height: 60px;
width: 130px;
display: flex;
align-items: center;
justify-content: center;
border: 5px solid black;
box-sizing: border-box;
border-radius: 5px;
}
span a:before{
color: #fff;
background: #000;
transform: rotateY(0deg) translateZ(25px);
}
span a:after{
color: #000;
transform: rotateX(90deg) translateZ(25px);
}
span a:hover{
transform: translateZ(-25px) rotateX(-90deg);
}
  


/*Check Box*/
body{
  counter-reset: checkBox-counter 0 ;
  
}

div{
counter-reset: checkBox-length;


input[type="checkBox"]:after{
  counter-increment: checkBox-length;
  content: counter(checkBox-length);
  position: relative;
  top: 15px;
  
}
input:checked{
   counter-increment: checkBox-counter;
   
}
}

main:after{
content: "List Your Selected : " counter(checkBox-counter) ;
display: block;
position: absolute; /*fixed*/
margin:-15px;
}


input.largerCheckbox {
  width: 30px;
  height: 20px;
}


@media screen and (max-width: 1000px) {
  div.example1 {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  div.example2 {
    display: none;
  }
}

{% endblock %}


{% block title %}
    List Products
{% endblock %}


{% block content %}

<div class="container">
  <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
      <div class="col-3">
      </div>
      <div class="col-9" >
          <form method="post">
              {% csrf_token %}
              <div class="input-group">
                  <input name="search_focus" type="search" class="form-control" placeholder="Find product..."/>
                  <button type="submit" class="btn btn-one" style="width:120px; ">
                      <i class="fas fa-search"></i>
                  </button>
                  <div>
                      <span><a href="{% url 'accounts:list_affect' %}"></a></span>
              </div> 
              </div>
          </form>
          <!--Thêm logic để link đến các key word-->
          <div class="letterlist" style="margin:30px;">
            {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
                <button style="background-color:black; width:30px; height:30px;">
                    <a href="{% url 'app:list_products_letter' page=1 letter=letter %}" title="List of software or hardware products" style="color:white">{{ letter }}</a>
                </button>
            {% endfor %}
        </div>
      </div>

  </div>
  <div class="row" style="margin-top: 30px;">
      <div class="col-3 " >
      
      </div>
      
      <div class="col-9 ">
          <h2 style="font-size: 35px; text-align:center"><b><u>List Products</u></b></h2>
          {% for p in page_obj %}
          </br>
            <div class="col" >
                <div class="card h-100" style="border-width:2px; border-color:black">
                  <div class="card-body">
                    <h3 class="card-title">
                      <a href="#" ><b>{{ p.name }}</b></a>
                  </h3>  
                       <div  style="height:30px;">
                        <input type="checkbox" id="morning" name="selected_products" value="{{ p.name }}" class="largerCheckbox">
                          <label for="morning"><i style="font-size:17px;">Check for follow this product!</i></label>
                      </div>
                        <div class="card-body" style="padding: 30px;">
                         
                            <p class="card-text">
                                <b> Product Name:</b> "{{ p.name }}""
                            </p>
                            <p class="card-text">
                                <b> Product Version: </b>"Test"
                            </p>
                          </div>  
                    </div>
                  </div>
            </div>
      
          {% endfor %}
           </br>
         
          <div class="pagination pagination-style-one m-t-20">
            <a href="{% url 'app:list_products' page=page.prev %}">< Pre</a>
            <a style="color:white">Page {{ page.current }} of {{ paginator.num_pages }}</a>
            <a href="{% url 'app:list_products' page=page.next %}">Next ></a>
        </div>
        
      </div>   
      
  </div>
  
</div>
 <!--Thêm logic để follow-->
 <div class="card h-10 example1" style="border-width:2px; border-color:black; margin-top:50px; width:425px;  margin-left:150px; bottom:2680px; ">
  <div class="card-body" style="padding: 30px;">
    <h3 class="card-title">
      <a href="#" ><b>FOLLOW PRODUCTS</b></a>
  </h3> 
  <hr>
  </br>
      <p class="card-text" >
        <main></main>
      </br>
        <p id="demo1"></p>
      </p>
      <p class="card-text" style="margin-left:-20px; width:30px;margin-top:50px;">
      <hr>
      <button class="btn btn-one" onclick="myFunction1()" style="width:100px;"> <b> CHECK</button> 
      </br> 
      <hr>
      <form action="{% url 'app:list_products' page=1 %}" method="post">
        {% csrf_token %}
      <button type="submit" class="btn btn-one" style="width:100px;">  <b style= "color: dodgerblue;">FOLLOW </b><b> NOW</b></button>
      </form>
    </p>
    </div>
  </div> 

<!--Chia hiển thị màn hình-->
  
  <!--Thêm logic để follow-->
 <div class="card h-10 example2" style="border-width:2px; border-color:black; margin-top:50px; width:225px;  margin-left:50px; bottom:2660px; ">
  <div class="card-body" style="padding: 30px;">
    <h3 class="card-title">
      <a href="#" ><b>FOLLOW PRODUCTS</b></a>
  </h3> 
  <hr>
  </br>
      <p class="card-text" >
        <main></main>
      </br>
        <p id="demo2"></p>
      </p>
      <p class="card-text" style="margin-left:-20px; width:30px;margin-top:50px;">
      <hr>
      <button class="btn btn-one" onclick="myFunction2()" style="width:100px;"> <b> CHECK</button> 
      </br> 
      <hr>
      <form action="{% url 'app:list_products' page=1 %}" method="post">
        {% csrf_token %}
      <button type="submit" class="btn btn-one" style="width:100px;">  <b style= "color: dodgerblue;">FOLLOW </b><b> NOW</b></button>
      </form>
    </p>
    </div>
  </div> 
  <script>
    function myFunction1() {
      // Lấy tất cả các checkbox được chọn
      var checkboxes = document.querySelectorAll("input[type='checkbox']:checked");
      // Tạo danh sách để lưu trữ giá trị
      var values = [];
      // Lặp qua từng checkbox và lấy giá trị
      for (var i = 0; i < checkboxes.length; i++) {
        values.push(checkboxes[i].value);
      }
      // Hiển thị danh sách giá trị
      document.getElementById("demo1").innerHTML = values.join(" ; ");
    }
    </script>
    <script>
      function myFunction2() {
        // Lấy tất cả các checkbox được chọn
        var checkboxes = document.querySelectorAll("input[type='checkbox']:checked");
        // Tạo danh sách để lưu trữ giá trị
        var values = [];
        // Lặp qua từng checkbox và lấy giá trị
        for (var i = 0; i < checkboxes.length; i++) {
          values.push(checkboxes[i].value);
        }
        // Hiển thị danh sách giá trị
        document.getElementById("demo2").innerHTML = values.join(" ; ");
      }
      </script>


{% endblock %}