{% extends 'navbar.html' %}

{% block css %}
    a {
    text-decoration: none;
    color: black;
    }
    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /*=SEARCH BAR=*/

   

   
    /*=READ NOW=*/
    .btn {
        line-height: 20px;
        height: 60px;
        text-align: center;
        width: 120px;
        cursor: pointer;
        background-color:black;
      }
      .btn-one {
        color: white;
        transition: all 0.5s;
        position: relative;
      }
      .btn-one span {
        transition: all 0.5s;
      }
      .btn-one::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 0;
        transition: all 1s;
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-top-style: solid;
        border-bottom-style: solid;
        border-top-color: black;
        border-bottom-color: black;
        transform: scale(0.1, 1);
        
      }
      .btn-one:hover span {
        letter-spacing: 2px;
      }
      .btn-one:hover::before {
        opacity: 1; 
        transform: scale(1, 1); 
      }
      .btn-one::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 0.3s;
        background-color: rgba(255,255,255,0.1);
      }
      .btn-one:hover::after {
        opacity: 0; 
        transform: scale(0.1, 1);
      }
      

/*=PAGE=*/
.pagination-style-one a { 
    padding: 10px; 
    margin: 15px;
    background: black; 
    color: white; 
    border-radius: 80%; 
    box-shadow: 0px 5px 10px 5px rgba(0,0,0,.1);}
.pagination-style-one a.selected, 
.pagination-style-one a:hover, 
.pagination-style-one a:active, 
.pagination-style-one a:focus { 
    padding: 15px; 
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,.5);
}

.custom-select {
    position: relative;
    width: 100%;
    height:40px;
    font-size:17px;
    text-align:center;
    background-color:white;
    color:black;
    border-radius:5px;
  }

  /*= NOTIFICATIONS=*/
  @import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

span{
  position: relative;
  display: inline-flex;
  width: -10px;
  height: 55px;
  margin: 0 5px;
  perspective: 1000px;
}
span a{
  font-size: 15px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  
}
span a:before,
span a:after{
  position: absolute;
  content: "Get Notify now!";
  height: 60px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
span a:before{
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
span a:after{
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
span a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}


{% comment %} /*Check Box*/
body{
  counter-reset: checkBox-counter 0 ;
  
}

div{
counter-reset: checkBox-length;


input[type="checkBox"]:after{
  counter-increment: checkBox-length;
  content: counter(checkBox-length);
  position: relative;
  top: 15px;
  
}
input:checked{
   counter-increment: checkBox-counter;
   
}
}

main:after{
content: "Number of Products Selected: " counter(checkBox-counter) ;
display: block;
position: absolute; /*fixed*/
margin:-15px;
}

input.largerCheckbox {
  width: 40px;
  height: 40px;
} {% endcomment %}

{% endblock %}


{% block title %}
    List Weakness
{% endblock %}


{% block content %}
<div class="container">
    <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
        <div class="col-3">
        </div>
        <div class="col-9">
            <form method="post">
                {% csrf_token %}
                <div class="input-group">
                    <input name="search_focus" type="search" class="form-control" placeholder="Search Problems By Description..."/ required>
                    <button type="submit" class="btn btn-one">
                        <i class="fas fa-search"></i>
                    </button>
                    <div>
                        <span><a {% if user.is_authenticated %} href="{% url 'app:tele_noti' %}"  {% else %} href="{% url 'accounts:login' %}"    {% endif %}></a></span>
                </div>
                </div>
            </form>
        </div>

    </div>
    <div class="row" style="margin-top: 30px;">
        {# Hiển thị filter year#}
        <div class="col-3 " >
        </br>
    </br>
</br>

          

        </div>
        <div class="col-9 ">
            <h2 style="font-size: 35px; text-align:center"><b><u>List Weakness</u></b></h2>
            {% for a in page_obj %}
                </br>
                <div class="col">
                  <div class="card h-100" style="border-width:2px; border-color:black">
                    <div class="card-body">
                      <h3 class="card-title">
                        <form method="post" action="{% url 'app:list_cves_by_problem'  %}" id="click_problem_form">
                          {% csrf_token %}
                          <input type="hidden" name="click_problem" id="click_problem_input">
                          <a href="{% url 'app:list_cves_by_problem'  %}" class="problem-link"><b>{{ a.description }}</b></a>
                        </br>
                        <p class="url"> <a>Number of cves:</a>{% for c in counts %}
                          {% if c.0.id == a.id %}
                              {{ c.1 }}
                          {% endif %}
                        {% endfor %} 
                        
                         </p>
                      </form>
                      </h3>
                      
                    </div>
                  </div>
                </div>
            {% endfor %}
            </br>
            <div class="pagination pagination-style-one m-t-20">
              <a href="{% url 'app:list_problems' page=page.prev %}">&lt; Pre</a>
              <a style="color:white">Page {{ page.current }} of {{ len_page }}</a>
              <a href="{% url 'app:list_problems' page=page.next %}">Next &gt;</a>
          </div>
            {% comment %} <div class="pagination pagination-style-one m-t-20">
              <a href="{% if selected_year %}{% url 'app:list_cves' page=page.prev %}?filter_year={{ selected_year }}{% if search_focus %}&search_focus={{ search_focus }}{% endif %}{% elif search_focus %}{% url 'app:list_cves' page=page.prev %}?search_focus={{ search_focus }}{% else %}{% url 'app:list_cves' page=page.prev %}{% endif %}">< Pre</a>
              <a style="color:white">Page {{ page.current }} of {{ len_page }}</a>
              <a href="{% if selected_year %}{% url 'app:list_cves' page=page.next %}?filter_year={{ selected_year }}{% if search_focus %}&search_focus={{ search_focus }}{% endif %}{% elif search_focus %}{% url 'app:list_cves' page=page.next %}?search_focus={{ search_focus }}{% else %}{% url 'app:list_cves' page=page.next %}{% endif %}">Next ></a>
          </div> {% endcomment %}
          {% comment %} <div class="card h-10" style="border-width:2px; border-color:black">
            <div class="card-body" style="padding: 30px;">
                <p class="card-text">
                  <main></main>
                </p>
                <p class="card-text" style="margin-left:0px; width:100px;margin-top:50px;">
                <button class="btn btn-one" onclick="getValue()"> <b style= "color: dodgerblue;"> CHECK</button> 
              </p>
              </div>
      </div> {% endcomment %}
        </div>   
    </div>
</div>

{% comment %} <script>
  function getValue() {
      let checkboxes =
          document.getElementsByName('laptop');
      let result = "";
      for (var i = 0; i < checkboxes.length; i++) {
          if (checkboxes[i].checked) {
              result += "+ " + checkboxes[i].value + "</br>";
          }
      }

   
    document.write("<p> You have selected : </br>"
          + result + "</p>"); 
  }
</script> {% endcomment %}

<script>
  localStorage.removeItem('click_problem');
  // Lấy tất cả các thẻ 'a' có class 'product-link'
  const productLinks = document.querySelectorAll('.problem-link');

  // Lặp qua từng thẻ 'a'
  productLinks.forEach(link => {
      // Lắng nghe sự kiện click
      link.addEventListener('click', function(event) {
          event.preventDefault(); // Ngăn chặn hành động mặc định của liên kết

          const productName = this.innerText; // Lấy tên sản phẩm từ nội dung của thẻ 'a'

          // Lưu giá trị vào local storage với khóa là "click_problem"
          localStorage.setItem('click_problem', JSON.stringify(productName));

          // Đặt giá trị cho input trong form
          document.getElementById('click_problem_input').value = JSON.stringify(productName);

          // Submit form
          document.getElementById('click_problem_form').submit();
      });
  });
</script>
{% endblock %}