{% extends 'navbar.html' %}

{% block css %}
    a {
    text-decoration: none;
    color: black;
    }
    input, textarea {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    }
    img {
        width: 100%;
        height: auto;
    }
    .img-cve {
    padding: 20px;
    border-radius: 30px;
    width: 100%;
    height: auto;
    }
    .box-info {
    {#        border-radius: 30px;#}
    {#        border-color: black;#}
    {#        background-color: lightgray;#}
    {#        padding: 20px;#}
    margin-bottom: 20px;
    margin-top: 20px;
    }
    .title-box > * {
    padding: 10px;
    background-color: black !important;
    color: white !important;
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
    margin: 0;
    }
    .content-box {
    background-color: lightgray !important;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 0;
    padding: 10px;
    }
    .base-score {
    background-color: black !important;
    color: white !important;
    padding: 10px;
    border-radius: 10px;
    }
    .alert-msg {
    background-color: lightgreen;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border-color: red;
    }

    /*=READ NOW=*/
    .btn {
        line-height: 20px;
        height: 50px;
        text-align: center;
        text-style:bold
        cursor: pointer;
        background-color:black;
      }
      .btn-one {
        color: white;
        transition: all 0.5s;
        position: relative;
      }
      .btn-one span {
        transition: all 0.5s;
      }
      .btn-one::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 0;
        transition: all 1s;
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-top-style: solid;
        border-bottom-style: solid;
        border-top-color: black;
        border-bottom-color: black;
        transform: scale(0.1, 1);
        
      }
      .btn-one:hover span {
        letter-spacing: 2px;
      }
      .btn-one:hover::before {
        opacity: 1; 
        transform: scale(1, 1); 
      }
      .btn-one::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 0.3s;
        background-color: rgba(255,255,255,0.1);
      }
      .btn-one:hover::after {
        opacity: 0; 
        transform: scale(0.1, 1);
      }
      /*=Link list=*/
      .list{
          a {
              box-shadow: inset 0 0 0 0 black;
              color: black;
                padding: 0 .25rem;
                margin: 0 -.25rem;
                left:10%;
                border-radius: 5px;
              transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
            }
            a:hover {
              color: white;
              box-shadow: inset 200px 0 0 0 black;;
            }
            
            /* Presentational styles */
            a {
              color: black;
              font-size: 19px;
              font-weight: 500;
              line-height: 0;
              text-decoration: none;
            }
      }
    
    
    
      /*=arrow=*/
    .arrow {
        position: absolute;
        top: 19%;
        left: 14%;
        transform: translate(-50%, -50%);
        transform: rotate(90deg);
        cursor: pointer;
    }
    
    .arrow span {
        display: block;
        width: 1vw;
        height: 1vw;
        border-bottom: 5px solid black;
        border-right: 5px solid black;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
    }
    
    .arrow span:nth-child(2) {
        animation-delay: -0.2s;
    }
    
    .arrow span:nth-child(3) {
        animation-delay: -0.4s;
    }
    
    @keyframes animate {
        0% {
            opacity: 0;
            transform: rotate(45deg) translate(-20px, -20px);
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            transform: rotate(45deg) translate(20px, 20px);
        }
    }

    /*=CARD TITLE1=*/
  .card-title1{
      a {
          box-shadow: inset 0 0 0 0 black;
          color: black;
            padding: 0 .25rem;
            margin: 0 -.25rem;
            border-radius: 5px;
          transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
        }
        a:hover {
          color: white;
          box-shadow: inset 200px 0 0 0 black;;
        }
        
        /* Presentational styles */
        a {
          color: black;
          font-family: 'Poppins', sans-serif;
          font-size: 23px;
          font-weight: 600;
          line-height: 0;
          text-decoration: none;
        }
  }


  /*= NOTIFICATIONS=*/
  @import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

span{
  position: relative;
  display: inline-flex;
  width: -10px;
  height: 55px;
  margin: 0 5px;
  perspective: 1000px;
}
span a{
  font-size: 15px;
  font-style:bold;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  
}
span a:before,
span a:after{
  position: absolute;
  content: "Register for your notifications now!";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
  text-align:center;  
}
span a:before{
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
span a:after{
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
span a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}

    



  
  .our-team {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color: #f7f5ec;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  
  .our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
  }
  
  .our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  
  .our-team:hover .picture::before {
    height: 100%;
  }
  
  .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }
  
  .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
  }
  
  .our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
  }
  
  .our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #1369ce;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  
  .our-team:hover .social {
    bottom: 0;
  }
  
  .our-team .social li {
    display: inline-block;
  }
  
  .our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  
  .our-team .social li a:hover {
    color: #1369ce;
    background-color: #f7f5ec;
  }
  

  /*=URL=*/
.url{
    a {
    color: blue;
      position: relative;
      text-decoration: none;
    }
    
    a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      border-radius: 4px;
      background-color: #18272F;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
{% endblock %}

{% block title %}
Top 10 Web Application Security Risks
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 100px; margin-bottom: 200px">
        <p class="list"><a href={% url 'app:list_statistic' %}>RETURN LIST STA</a></p>
    <div class="arrow">
        <span></span>
        <span></span>
        <span></span>
    </div>
        <div class="row">
            <div class="col-8">
                <h1><b ><u>Top 10 Web Application Security Risks</u></b></h1>
                <img src="/media/mapping.png" style="width: 100%; height: 200px; object-fit: cover; margin-top: 50px;margin-bottom: 50px; border-radius:10px;">
                <div class="box-info">
                    <div class="title-box">
                        <h2><b style="font-size: 28px;">COMMENT</b></h2>
                    </div>
                    <div class="content-box">
                    <p>

                    </br>+  A01:2021-Broken Access Control moves up from the fifth position; 94% of applications were tested for some form of broken access control. The 34 Common Weakness Enumerations (CWEs) mapped to Broken Access Control had more occurrences in applications than any other category.
                </br>+  A02:2021-Cryptographic Failures shifts up one position to #2, previously known as Sensitive Data Exposure, which was broad symptom rather than a root cause. The renewed focus here is on failures related to cryptography which often leads to sensitive data exposure or system compromise.
        </br>+  A03:2021-Injection slides down to the third position. 94% of the applications were tested for some form of injection, and the 33 CWEs mapped into this category have the second most occurrences in applications. Cross-site Scripting is now part of this category in this edition.
    </br>+  A04:2021-Insecure Design is a new category for 2021, with a focus on risks related to design flaws. If we genuinely want to “move left” as an industry, it calls for more use of threat modeling, secure design patterns and principles, and reference architectures.
</br>+  A05:2021-Security Misconfiguration moves up from #6 in the previous edition; 90% of applications were tested for some form of misconfiguration. With more shifts into highly configurable software, it’s not surprising to see this category move up. The former category for XML External Entities (XXE) is now part of this category.
</br>+ A06:2021-Vulnerable and Outdated Components was previously titled Using Components with Known Vulnerabilities and is #2 in the Top 10 community survey, but also had enough data to make the Top 10 via data analysis. This category moves up from #9 in 2017 and is a known issue that we struggle to test and assess risk. It is the only category not to have any Common Vulnerability and Exposures (CVEs) mapped to the included CWEs, so a default exploit and impact weights of 5.0 are factored into their scores.
</br>+  A07:2021-Identification and Authentication Failures was previously Broken Authentication and is sliding down from the second position, and now includes CWEs that are more related to identification failures. This category is still an integral part of the Top 10, but the increased availability of standardized frameworks seems to be helping.
</br>+  A08:2021-Software and Data Integrity Failures is a new category for 2021, focusing on making assumptions related to software updates, critical data, and CI/CD pipelines without verifying integrity. One of the highest weighted impacts from Common Vulnerability and Exposures/Common Vulnerability Scoring System (CVE/CVSS) data mapped to the 10 CWEs in this category. Insecure Deserialization from 2017 is now a part of this larger category.
</br>+  A09:2021-Security Logging and Monitoring Failures was previously Insufficient Logging & Monitoring and is added from the industry survey (#3), moving up from #10 previously. This category is expanded to include more types of failures, is challenging to test for, and isn’t well represented in the CVE/CVSS data. However, failures in this category can directly impact visibility, incident alerting, and forensics.
</br>+  A10:2021-Server-Side Request Forgery is added from the Top 10 community survey (#1). The data shows a relatively low incidence rate with above average testing coverage, along with above-average ratings for Exploit and Impact potential. This category represents the scenario where the security community members are telling us this is important, even though it’s not illustrated in the data at this time.
        
                    </p>
                    
                    </div>
                </div>

                
                <div class="box-info">
                    <div class="title-box">
                        <h2><b style="font-size: 28px;">LEARN MORE...</b></h2>
                    </div>
                    <div class="content-box">
                
                </div>
            </div>
            </div>
            <div class="col-4">
                <div class="box-info">
                    <div class="title-box">
                        <h2><b style="font-size: 28px;">Box Informations</b></h2>
                    </div>
                    <div class="content-box">
                        <p>Service: Top 10 Web Application Security Risks</p>
                        <p>Published: 2024-20-3</p>
                        <p>Updated: 2024-26-3</p>
                        <span><a {% if user.is_authenticated %} href="{% url 'accounts:notification' %}" {% else %} href="{% url 'accounts:login' %}" {% endif %}></a></span>
                    </div>
                </div>
                <br>
                <div class="box-info">
                    <div class="title-box">
                        <h2><b style="font-size: 28px;">Asking for information</b></h2>
                    </div>
                    <div class="content-box">
                      <form method="post"  action="mailto:binhndhe161032@gmail.com">
                        {% csrf_token %}
                        <input type="text" name="your_name" placeholder="Your Name"><br>
                        <input type="text" name="email_address" placeholder="Email Address"><br>
                        <input type="text" name="phone_number" placeholder="Phone Number"><br>
                        <textarea name="message" placeholder="Message" rows="5"></textarea><br>
                        <button type="submit" value="Send" class="btn btn-one" style="width: 100%"><b>Sent</b></button>
                    </form>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
{% endblock %}
