{% extends 'navbar.html' %}


{% block css %}
    .form-find-cve {
    background-color: white;
    padding: 25px;
    border-radius: 20px;
    line-height: 30px;
    margin-top: -100px;
    margin-bottom: 50px;
    z-index: 99;
    position:relative;
    }
    form > input {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    }
    .button-find {
    padding: 15px 30px 15px 30px;
    font-weight: bold;
    }
    body {
    background-color: #222831 !important;
    }
    a {
    text-decoration: none;
    color: black;
    }
    .top-right {
    position: absolute;
    top: 100px;
    right: 16px;
    }
    .image-first {
    position: relative;
    color: white;
    }
    .rectangle {
    height: 40px;
    width: 15px;
    background-color: #0F60DD;
    float:left;
    }
{% endblock %}

{% block title %}
    Home
{% endblock %}


{% block content %}
    <div class="image-first">
        <img src="/media/bg-sec.jpg" style="width: 100%" alt="background">
        <div class="top-right">
            <div class="row">
                <div class="col-6"></div>
                <div class="col-6">
                    <h2 style="font-size: 52px">LET'S FIND</h2>
                    <p>
                        Technology-based CVE Search, Vulnerabilities and CVEs Suggested based on the technology you are
                        tracking!
                    </p>
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'app:list_cves' page=1 %}"><button style="width: 100%" class="btn btn-primary">FIND NOW</button></a>
                        </div>
                        <div class="col">
                            <button style="width: 100%" class="btn btn-primary">LEARN MORE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="form-find-cve">
            <h1><b style="color: dodgerblue">FIND</b> <b>YOUR</b> <b style="color: dodgerblue">CVE</b></h1>
            <p>Find your CVE...</p>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="id_cve" style="width: 100%" placeholder="Find CVE-ID">
                <button type="submit" class="btn btn-primary button-find">FIND NOW</button>
            </form>
        </div>
        <div class="row">
            <a style="text-decoration: none;" href="{% url 'app:list_cves' page=1 %}">
                <h2 style="color: white;">
                    <div class="rectangle"></div>&nbsp;List CVE
                </h2>
            </a>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% if listCVE %}
                    {% for i in listCVE %}
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-body" style="padding: 20px;">
                                    <a href="{% url 'app:detail_cves' pk=i.pk %}"><h3 class="card-title">{{ i.cve_id }}</h3>
                                    </a><br>
                                    <p class="card-text">
                                        Year: {{ i.year }}
                                    </p>
                                    <p class="card-text">
                                        Publish Date: {{ i.date_publish }}
                                    </p>
                                    <p class="card-text">
                                        {% for a in affected %}
                                            {% if a.con_id == i.id %}
                                                Product: {{ a.product.name }}
                                            {% endif %}
                                        {% endfor %}
                                    </p>

                                    <a href="{% url 'app:detail_cves' pk=i.pk %}">
                                        <button class="btn btn-dark">READ NOW</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p style="color: white">There are currently no CVEs</p>
                {% endif %}
            </div>
        </div>
    </div>
    <br>
    <div style="background-color: white !important; color: black !important; padding: 20px;">
        <div class="container">
            <a style="text-decoration: none;" href="#">
                    <h2>
                        <div class="rectangle"></div>&nbsp;Notification methods
                    </h2>
            </a><br>
            <div class="card mb-3" style="max-width: 540px; border: none;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="/media/gmail_logo.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Announce news via Gmail</h5>
                    <p class="card-text">How to auto send gmail. when news cve publish</p>
                    <p class="card-text"><a href="#"><b style="color: red">Read more</b></a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3" style="max-width: 540px; border: none;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="/media/telegram_logo.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Announce news via Telegram</h5>
                    <p class="card-text">How to auto send telegram. when news cve publish</p>
                    <p class="card-text"><a href="#"><b style="color: red">Read more</b></a></p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}