{% extends 'navbar.html' %}


{% block css %}
.form-find-cve {
    background-color: white;
    padding: 25px;
    border-radius: 20px;
    line-height: 30px;
    margin-top: -100px;
    margin-bottom: 50px;
    z-index: 99;
    position:relative;
}
form > input {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.button-find {
    padding: 15px 30px 15px 30px;
    font-weight: bold;
}
body {
    background-color: black !important;
    
}
a {
    text-decoration: none;
    color: black;
}
.top-right {
    position: absolute;
    top: 50px;
    right: 150px;
}
.image-first {
    position: relative;
    color: white;
    
}
.rectangle {
    height: 44px;
    width: 15px;
    background-color: #0F60DD;
    float:left;
    border-radius: 4px;
}

/*=CARD TITLE1=*/
  .card-title1{
      a {
          box-shadow: inset 0 0 0 0 black;
          color: black;
            padding: 0 .25rem;
            margin: 0 -.25rem;
            border-radius: 5px;
          transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
        }
        a:hover {
          color: white;
          box-shadow: inset 200px 0 0 0 black;;
        }
        
        /* Presentational styles */
        a {
          color: black;
          font-family: 'Poppins', sans-serif;
          font-size: 23px;
          font-weight: 600;
          line-height: 0;
          text-decoration: none;
        }
  }

/*=READ NOW=*/
.btn {
    line-height: 20px;
    height: 60px;
    text-align: center;
    text-style:bold
    width: 120px;
    cursor: pointer;
    background-color:dodgerblue;
  }
  .btn-one {
    color: white;
    transition: all 0.5s;
    position: relative;
  }
  .btn-one span {
    transition: all 0.5s;
  }
  .btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    transition: all 1s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: dodgerblue;
    border-bottom-color: dodgerblue;
    transform: scale(0.1, 1);
    
  }
  .btn-one:hover span {
    letter-spacing: 2px;
  }
  .btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  .btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
  }
  .btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }
  /*=CARD TITLE2=*/
  .card-title2{
      a {
          box-shadow: inset 0 0 0 0 white;
          color: white;
            padding: 20px;
            margin: 0 -.25rem;
            border-radius: 5px;
          transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
        }
        a:hover {
          color: white;
          box-shadow: inset 200px 0 0 0 black;;
        }
        
        /* Presentational styles */
        a {
          text-color: white;
          font-family: 'Poppins', sans-serif;
          font-size: 22px;
          font-weight: 600;
          line-height: 0;
          text-decoration: none;
        }
  }

  /*=READ NOW=*/
.btn {
    line-height: 20px;
    height: 60px;
    text-align: center;
    text-style:bold
    width: 120px;
    cursor: pointer;
    background-color:dodgerblue;
  }
  .btn-two {
    color: white;
    transition: all 0.5s;
    position: relative;
  }
  .btn-two span {
    transition: all 0.5s;
  }
  .btn-two::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    transition: all 1s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: dodgerblue;
    border-bottom-color: dodgerblue;
    transform: scale(0.1, 1);
    
  }
  .btn-two:hover span {
    letter-spacing: 2px;
  }
  .btn-two:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  .btn-two::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
  }
  .btn-two:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }



  /*================================================================================*/


/*
 * Selection color
 */
::-moz-selection {
  background-color: #FA6862;
  color: #fff; }

::selection {
  background-color: #FA6862;
  color: #fff; }

/*
 *  Reset bootstrap's default style
 */
.form-control::-webkit-input-placeholder,
::-webkit-input-placeholder {
  opacity: 1;
  color: inherit; }

.form-control:-moz-placeholder,
:-moz-placeholder {
  /* Firefox 18- */
  opacity: 1;
  color: inherit; }

.form-control::-moz-placeholder,
::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 1;
  color: inherit; }

.form-control:-ms-input-placeholder,
:-ms-input-placeholder {
  opacity: 1;
  color: inherit; }

button, input, select,
textarea, label {
  font-weight: 400; }

.btn {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .btn:hover, .btn:focus, .btn:active:focus {
    outline: 0 none; }

.btn-primary {
  background-color: #FA6862;
  border: 0;
  font-weight: 700;
  height: 48px;
  line-height: 50px;
  padding: 0 42px;
  text-transform: uppercase; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus {
    background-color: #f9423a; }

.btn-border {
  border: 1px solid #d7d8db;
  display: inline-block;
  padding: 7px; }

/*
 *  CSS Helper Class
 */
.clear:before, .clear:after {
  content: " ";
  display: table; }

.clear:after {
  clear: both; }

.pt-table {
  display: table;
  width: 100%;
  height: -webkit-calc(100vh - 4px);
  height: -moz-calc(100vh - 4px);
  height: calc(100vh - 4px); }

.pt-tablecell {
  display: table-cell;
  vertical-align: middle; }

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.relative {
  position: relative; }

.primary,
.link:hover {
  color: #FA6862; }

.no-gutter {
  margin-left: 0;
  margin-right: 0; }
  .no-gutter > [class^="col-"] {
    padding-left: 0;
    padding-right: 0; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.flex-middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

.nicescroll-cursors {
  background: #FA6862 !important; }

.preloader {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
  .preloader.active.hidden {
    display: none; }

.loading-mask {
  background-color: #FA6862;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 20%;
  -webkit-transition: all 0.6s cubic-bezier(0.61, 0, 0.6, 1) 0s;
  -moz-transition: all 0.6s cubic-bezier(0.61, 0, 0.6, 1) 0s;
  -o-transition: all 0.6s cubic-bezier(0.61, 0, 0.6, 1) 0s;
  transition: all 0.6s cubic-bezier(0.61, 0, 0.6, 1) 0s; }
  .loading-mask:nth-child(2) {
    left: 20%;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s; }
  .loading-mask:nth-child(3) {
    left: 40%;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s; }
  .loading-mask:nth-child(4) {
    left: 60%;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s; }
  .loading-mask:nth-child(5) {
    left: 80%;
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s; }

.preloader.active.done {
  z-index: 0; }

.preloader.active .loading-mask {
  width: 0; }

/*------------------------------------------------
	Start Styling
-------------------------------------------------*/
.mt20{margin-top:20px;}


.page-close {
  font-size: 30px;
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 100; }

.page-title {
  margin-bottom: 75px; 
margin-left:-80px;}
  .page-title img {
    margin-bottom: 20px; }
  .page-title h2 {
    font-size: 68px;
    margin-bottom: 25px;
    position: relative;
    z-index: 0;
    font-weight: 900;
    text-transform: uppercase; }
  .page-title p {
    font-size: 18px;
font-family: monospace;
    line-height: 21px;}
  .page-title .title-bg {
    color: black;
    font-size: 158px;
    left: 0;
    letter-spacing: 10px;
    line-height: 0.7;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -1;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }

.page-nav {
  bottom: 40px;
  left: 0;
  position: absolute;
  right: 0; }
  .page-nav span {
    font-size: 14px;
    font-weight: 500;
    line-height: 0.9;
    text-transform: uppercase; }

/*------------------------------------------------
    Home Page
-------------------------------------------------*/

.hexagon-item:first-child {
    margin-left: 0;
}


/* End of container */
.hexagon-item {
  cursor: pointer;
  width: 200px;
  height: 173.20508px;
  float: left;
  margin-left: -5px;
  z-index: 0;
  position: relative;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg); }
  .hexagon-item:first-child {
    margin-left: 0; }
  .hexagon-item:hover {
    z-index: 1; }
    .hexagon-item:hover .hex-item:last-child {
      opacity: 1;
      -webkit-transform: scale(1.3);
      -moz-transform: scale(1.3);
      -ms-transform: scale(1.3);
      -o-transform: scale(1.3);
      transform: scale(1.3); }
    .hexagon-item:hover .hex-item:first-child {
      opacity: 1;
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2); }
      .hexagon-item:hover .hex-item:first-child div:before,
      .hexagon-item:hover .hex-item:first-child div:after {
        height: 4px; }
    .hexagon-item:hover .hex-item div::before,
    .hexagon-item:hover .hex-item div::after {
      background-color: dodgerblue; }
    .hexagon-item:hover .hex-content svg {
      -webkit-transform: scale(0.97);
      -moz-transform: scale(0.97);
      -ms-transform: scale(0.97);
      -o-transform: scale(0.97);
      transform: scale(0.97); }

.page-home .hexagon-item:nth-last-child(1),
.page-home .hexagon-item:nth-last-child(2),
.page-home .hexagon-item:nth-last-child(3) {
  -webkit-transform: rotate(30deg) translate(87px, -80px);
  -moz-transform: rotate(30deg) translate(87px, -80px);
  -ms-transform: rotate(30deg) translate(87px, -80px);
  -o-transform: rotate(30deg) translate(87px, -80px);
  transform: rotate(30deg) translate(87px, -80px); }

.hex-item {
  position: absolute;
  top: 0;
  left: 50px;
  width: 100px;
  height: 173.20508px; }
  .hex-item:first-child {
    z-index: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
  .hex-item:last-child {
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 1; }
  .hex-item div {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 100px;
    height: 173.20508px;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center; }
    .hex-item div::before, .hex-item div::after {
      background-color: black;
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
      -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
      -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
      transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; }
    .hex-item div:before {
      top: 0; }
    .hex-item div:after {
      bottom: 0; }
    .hex-item div:nth-child(1) {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg); }
    .hex-item div:nth-child(2) {
      -webkit-transform: rotate(60deg);
      -moz-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
      -o-transform: rotate(60deg);
      transform: rotate(60deg); }
    .hex-item div:nth-child(3) {
      -webkit-transform: rotate(120deg);
      -moz-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
      -o-transform: rotate(120deg);
      transform: rotate(120deg); }

.hex-content {
  color: white;
  display: block;
  height: 180px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  transform: rotate(-30deg);
  width: 156px; }
  .hex-content .hex-content-inner {
    left: 50%;
    margin: -3px 0 0 2px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .hex-content .icon {
    display: block;
    font-size: 36px;
    line-height: 30px;
    margin-bottom: 11px; }
  .hex-content .title {
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase; }
  .hex-content svg {
    left: -7px;
    position: absolute;
    top: -13px;
    transform: scale(0.87);
    z-index: -1;
    -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; }
  .hex-content:hover {
    color: white; }

.page-home .hexagon-item:nth-last-child(1), .page-home .hexagon-item:nth-last-child(2), .page-home .hexagon-item:nth-last-child(3) {
    -webkit-transform: rotate(30deg) translate(87px, -80px);
    -moz-transform: rotate(30deg) translate(87px, -80px);
    -ms-transform: rotate(30deg) translate(87px, -80px);
    -o-transform: rotate(30deg) translate(87px, -80px);
    transform: rotate(30deg) translate(87px, -80px);
}
/*------------------------------------------------
    Welcome Page
-------------------------------------------------*/
.author-image-large {
  position: absolute;
  right: 0;
  top: 0; }
  .author-image-large img {
    height: -webkit-calc(100vh - 4px);
    height: -moz-calc(100vh - 4px);
    height: calc(100vh - 4px); }


 @media (min-width: 1200px)
{
.col-lg-offset-2 {
    margin-left: 16.66666667%;
}
}

@media (min-width: 1200px)
{
.col-lg-8 {
    width: 66.66666667%;
}
} 


@media screen and (max-width: 1600px) {
  div.example1 {
    display: none;
  }
}

@media screen and (min-width: 1600px) {
  div.example2 {
    display: none;
  }
}
.hexagon-item:first-child {
    margin-left: 0;
}

.pt-table.desktop-768 .pt-tablecell {
    padding-bottom: 110px;
    padding-top: 60px;
}



.hexagon-item:hover .icon i
{
  color:dodgerblue;
  transition:1.6s;
  
}


.hexagon-item:hover .title
{
  color:dodgerblue;
  -webkit-animation: focus-in-contract 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-contract 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/***************************/

@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}





@media only screen and (max-width: 767px)
{
.hexagon-item {
    float: none;
    margin: 0 auto 50px;
}
  .hexagon-item:first-child {
    margin-left: auto;
}
  
  .page-home .hexagon-item:nth-last-child(1), .page-home .hexagon-item:nth-last-child(2), .page-home .hexagon-item:nth-last-child(3) {
    -webkit-transform: rotate(30deg) translate(0px, 0px);
    -moz-transform: rotate(30deg) translate(0px, 0px);
    -ms-transform: rotate(30deg) translate(0px, 0px);
    -o-transform: rotate(30deg) translate(0px, 0px);
    transform: rotate(30deg) translate(0px, 0px);
}
  
}



{% endblock %}

{% block title %}
    Home
{% endblock %}


{% block content %}
    <div class="image-first">
        {% comment %} <img src="/media/background1.png" style="width: 100%; " alt="background"> {% endcomment %}
        <main class="site-wrapper">
          <div class="pt-table desktop-768">
            <div class="pt-tablecell page-home relative" style="background-image: url(/media/hinh-nen-may-tinh-den-trang-soc-ke_022909111.jpg);
            background-size: cover;">
                            <div class="overlay"></div>
                            <div class="page-title  home text-center example2" style="margin:150px; margin-top:220px;">
                              <span class="heading-page" style="font-size: 50px; color:black;"> <b>LET'S FIND </b>
                              </span>
                                <p class="mt20" style="color:black;"><b>Technology-based CVE Search, Vulnerabilities and CVEs Suggested based on the technology you are
                                  tracking!</b></p>
                            </div>
                            <div class="container example1">
                                <div class="row">
                                    <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                                        <div class="page-title  home text-center">
                                          <span class="heading-page" style="font-size: 50px; color:black;"> <b>LET'S FIND</b>
                                          </span>
                                            <p class="mt20" style="color:black;"><b>Technology-based CVE Search, Vulnerabilities and CVEs Suggested based on the technology you are
                                              tracking!</b></p>
                                        </div>
                                        <div class="hexagon-menu clear">
                                            <div class="hexagon-item">
                                                <div class="hex-item">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                                <div class="hex-item">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                                <a  class="hex-content" href="/">
                                                    <span class="hex-content-inner">
                                                        <span class="icon">
                                                            <i class="fa fa-universal-access"></i>
                                                        </span>
                                                        <span class="title">Home</span>
                                                    </span>
                                                    <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="black"></path></svg>
                                                </a>
                                            </div>
                                            <div class="hexagon-item">
                                                <div class="hex-item">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                                <div class="hex-item">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                                <a  class="hex-content" href="{% url 'app:list_cves' page=1 %}">
                                                    <span class="hex-content-inner">
                                                        <span class="icon">
                                                            <i class="fa fa-list"></i>
                                                        </span>
                                                        <span class="title">List  CVEs </span>
                                                    </span>
                                                    <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#black"></path></svg>
                                                </a>
                                            </div>
                                            <div class="hexagon-item">
                                                <div class="hex-item">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                                <div class="hex-item">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                                <a  class="hex-content" href="{% url 'app:tele_noti' %}">
                                                    <span class="hex-content-inner">
                                                        <span class="icon">
                                                            <i class="fa fa-bell"></i>
                                                        </span>
                                                        <span class="title">Notification</span>
                                                    </span>
                                                    <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#black"></path></svg>
                                                </a>    
                                            </div>
                                            {% if user.is_authenticated %}
                                            <div class="hexagon-item">
                                                <div class="hex-item">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                                <div class="hex-item">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                                
                                                <a  class="hex-content"href="{% url 'accounts:profile' %}" >
                                                   
                                                    <span class="hex-content-inner">
                                                        <span class="icon">
                                                            <i class="fa fa-user"></i>
                                                        </span>
                                                        <span class="title">Profile</span>
                                                    </span>
                                                    <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#black"></path></svg>
                                                </a>
                                            </div>
                                            {% else %}
                                            <div class="hexagon-item">
                                              <div class="hex-item">
                                                  <div></div>
                                                  <div></div>
                                                  <div></div>
                                              </div>
                                              <div class="hex-item">
                                                  <div></div>
                                                  <div></div>
                                                  <div></div>
                                              </div>
                                              
                                              <a  class="hex-content" href="{% url 'accounts:login' %}" >
                                                 
                                                  <span class="hex-content-inner">
                                                      <span class="icon">
                                                          <i class="fa fa-user-plus"></i>
                                                      </span>
                                                      <span class="title">Login</span>
                                                  </span>
                                                  <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#black"></path></svg>
                                              </a>
                                          </div>
                                            {% endif %}
                                            {% if not user.is_superuser %}
                                            <div class="hexagon-item">
                                              <div class="hex-item">
                                                  <div></div>
                                                  <div></div>
                                                  <div></div>
                                              </div>
                                              <div class="hex-item">
                                                  <div></div>
                                                  <div></div>
                                                  <div></div>
                                              </div>
                                              <a  class="hex-content" href="https://www.facebook.com/profile.php?id=100088244351596">
                                                  <span class="hex-content-inner">
                                                      <span class="icon">
                                                          <i class="fa" aria-hidden="true"><img src="/media/Facebook_logo_(square).png" alt="facebook" style="width: 50px; height:50px;"></i>
                                                      </span>
                                                      <span class="title">Facebook</span>
                                                  </span>
                                                  <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#black"></path></svg>
                                              </a>
                                          </div>
                                          <div class="hexagon-item">
                                              <div class="hex-item">
                                                  <div></div>
                                                  <div></div>
                                                  <div></div>
                                              </div>
                                              <div class="hex-item">
                                                  <div></div>
                                                  <div></div>
                                                  <div></div>
                                              </div>
                                              <a  class="hex-content" href="https://www.instagram.com/daily_cve_alert?fbclid=IwAR1QpxhZaR_wnf5HqTA2mB_v1WpHZPNdA5HtfX1aNbYDmdnYoBxOcI0W-5I">
                                                  <span class="hex-content-inner">
                                                      <span class="icon">
                                                          <i class="fa "><img src="/media/Instagram_icon.png" alt="facebook" style="width: 50px; height:50px;"></i>
                                                      </span>
                                                      <span class="title">Instargram</span>
                                                  </span>
                                                  <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#black"></path></svg>
                                              </a>
                                          </div>
                                          <div class="hexagon-item">
                                              <div class="hex-item">
                                                  <div></div>
                                                  <div></div>
                                                  <div></div>
                                              </div>
                                              <div class="hex-item">
                                                  <div></div>
                                                  <div></div>
                                                  <div></div>
                                              </div>
                                              <a  class="hex-content" href="https://twitter.com/CveDailyAlert?fbclid=IwAR0Sq2jk2gQs_pO3M4T18g7YFnKPlriPPuZVn4Uo9sDSIGjGRtkIScP26HY">
                                                  <span class="hex-content-inner">
                                                      <span class="icon">
                                                          <i class=" fa"><img src="/media/new-twitter-logo-x-2023-twitter-x-logo-vector-download_691560-10795.png" alt="facebook" style="width: 50px; height:50px;"></i>
                                                      </span>
                                                      <span class="title">Twitter</span>
                                                  </span>
                                                  <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#black"></path></svg>
                                              </a>
                                          </div>
                                          {% endif %}
                                            {% if user.is_superuser %}
                                            <div class="hexagon-item">
                                                <div class="hex-item">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                                <div class="hex-item">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                                <a  class="hex-content" href= "http://127.0.0.1:8000/admin/">
                                                    <span class="hex-content-inner">
                                                        <span class="icon">
                                                            <i class="fa fa-lock" aria-hidden="true"></i>
                                                        </span>
                                                        <span class="title">ADMIN</span>
                                                    </span>
                                                    <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#black"></path></svg>
                                                </a>
                                            </div>
                                            <div class="hexagon-item">
                                                <div class="hex-item">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                                <div class="hex-item">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                                <a  class="hex-content" href="{% url 'app:create_affected' %}">
                                                    <span class="hex-content-inner">
                                                        <span class="icon">
                                                            <i class="fa fa-plus-square"></i>
                                                        </span>
                                                        <span class="title">Create Affected</span>
                                                    </span>
                                                    <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#black"></path></svg>
                                                </a>
                                            </div>
                                            <div class="hexagon-item">
                                                <div class="hex-item">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                                <div class="hex-item">
                                                    <div></div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                                <a  class="hex-content" href="{% url 'app:create_cve' %}">
                                                    <span class="hex-content-inner">
                                                        <span class="icon">
                                                            <i class=" fa fa-plus-circle"></i>
                                                        </span>
                                                        <span class="title">Create CVE</span>
                                                    </span>
                                                    <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#black"></path></svg>
                                                </a>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
          </main>






        {% comment %} <div class="top-right">
            <div class="row">
                <div class="col-6"></div>
                <div class="col-6">
                    <h2 style="font-size: 55px">LET'S FIND</h2>
                    <p>
                        Technology-based CVE Search, Vulnerabilities and CVEs Suggested based on the technology you are
                        tracking!
                    </p>
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'app:list_cves' page=1 %}"><button style="width: 100%" class="btn btn-two"><b style="color:white;">FIND NOW</b></button></a>
                        </div>
                        <div class="col">
                            <a href="https://twitter.com/CveDailyAlert?fbclid=IwAR0Sq2jk2gQs_pO3M4T18g7YFnKPlriPPuZVn4Uo9sDSIGjGRtkIScP26HY"><button style="width: 100%" class="btn btn-two"><b style="color:white;">LEARN MORE</b></button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
    </div>
    <div class="container" >
        <div class="form-find-cve">
            <h1><b style="color: dodgerblue">FIND</b> <b>YOUR</b> <b style="color: dodgerblue">CVE</b></h1>
            <i>Find your CVE...</i>
            
            <form method="post">
                {% csrf_token %}
                <input type="text" name="id_cve" style="width: 100%" placeholder="Find CVE-ID">
                <button type="submit" class="btn btn-one button-find">FIND NOW</button>
            </form>
        </div>
        <div class="row" style="margin-bottom:30px;">
            <a style="text-decoration: none;" href="{% url 'app:list_cves' page=1 %}">
                <h2 style="color: white;">
                    <div class="rectangle"></div>&nbsp;<b style="color: white;">List CVEs </b>
                    
                    <a href="{% url 'app:list_cves' page=1 %}" ></a>
                </h2>
            </a>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% if listCVE %}
                    {% for i in listCVE %}
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-body" style="padding: 30px;">
                                    <h3 class="card-title1">
                                    <a href="{% url 'app:detail_cves' pk=i.pk %}">{{ i.cve_id }}
                                    </a>
                                </h3><br>
                                    <p class="card-text" >
                                        <b>Year:</b> "{{ i.year }}"
                                    </p>
                                    <p class="card-text">
                                        <b>Publish Date:</b> "{{ i.date_publish }}"
                                    </p>
                                    <p class="card-text">
                                        {% for a in affected %}
                                            {% if a.con_id == i.id %}
                                            <b>Product:</b> "{{ a.product.name }}"
                                    </br>
                                            {% endif %}
                                        {% endfor %}
                                    </p>

                                    <a href="{% url 'app:detail_cves' pk=i.pk %}">
                                        <button class="btn btn-one"><b>READ NOW</b></button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p style="color: white">There are currently no CVEs matches with your selection!</p>
                {% endif %}
            </div>
        </div>
    </div>
    <br>
    <div style="background-color: white !important; color: black !important; padding: 80px; margin-bottom:-50px; margin-top:50px;">
        <div class="container">
            <a style="text-decoration: none;" href="#">
                <h2 style="color: white;">
                    <div class="rectangle"></div>&nbsp;<b>Notification methods</b>
                    <a href="#"></a>
                </h2>
            </a><br>
            <div class="card mb-3" style="max-width: 540px; border: none;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="/media/gmail-new-icon5198.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h3 class="card-title1">
                        <a href="{% url 'app:gmail_noti' %}">Gmail
                        </a>
                    </h3>
                    <p class="card-text">"How to receive notifications via Gmail whenever a new CVE is updated."</p>
                    <a href="{% url 'app:gmail_noti' %}">
                        <button class="btn btn-one"><b>READ MORE</b></button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3" style="max-width: 540px; border: none;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="/media/telegram_logo.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h3 class="card-title1">
                        <a href="{% url 'app:tele_noti' %}">Telegram
                        </a>
                    </h3>
                    <p class="card-text">"How to receive notifications via Telegram whenever a new CVE is updated."</p>
                    <p class="card-text">
                        <a href="{% url 'app:tele_noti' %}">
                            <button class="btn btn-one"><b>READ MORE</b></button>
                        </a>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}