{% extends 'navbar.html' %}

{% block css %}
    a {
    text-decoration: none;
    color: black;
    }
    input, textarea {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    }
    img {
        width: 100%;
        height: auto;
    }
    .img-cve {
    padding: 20px;
    border-radius: 30px;
    width: 100%;
    height: auto;
    }
    .box-info {
    {#        border-radius: 30px;#}
    {#        border-color: black;#}
    {#        background-color: lightgray;#}
    {#        padding: 20px;#}
    margin-bottom: 20px;
    margin-top: 20px;
    }
    .title-box > * {
    padding: 10px;
    background-color: black !important;
    color: white !important;
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
    margin: 0;
    }
    .content-box {
    background-color: lightgray !important;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 0;
    padding: 10px;
    }
    .base-score {
    background-color: black !important;
    color: white !important;
    padding: 10px;
    border-radius: 10px;
    }
    .alert-msg {
    background-color: lightgreen;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border-color: red;
    }

    /*=READ NOW=*/
    .btn {
        line-height: 20px;
        height: 50px;
        text-align: center;
        text-style:bold
        cursor: pointer;
        background-color:black;
      }
      .btn-one {
        color: white;
        transition: all 0.5s;
        position: relative;
      }
      .btn-one span {
        transition: all 0.5s;
      }
      .btn-one::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 0;
        transition: all 1s;
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-top-style: solid;
        border-bottom-style: solid;
        border-top-color: black;
        border-bottom-color: black;
        transform: scale(0.1, 1);
        
      }
      .btn-one:hover span {
        letter-spacing: 2px;
      }
      .btn-one:hover::before {
        opacity: 1; 
        transform: scale(1, 1); 
      }
      .btn-one::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 0.3s;
        background-color: rgba(255,255,255,0.1);
      }
      .btn-one:hover::after {
        opacity: 0; 
        transform: scale(0.1, 1);
      }
      /*=Link list=*/
      .list{
          a {
              box-shadow: inset 0 0 0 0 black;
              color: black;
                padding: 0 .25rem;
                margin: 0 -.25rem;
                left:10%;
                border-radius: 5px;
              transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
            }
            a:hover {
              color: white;
              box-shadow: inset 200px 0 0 0 black;;
            }
            
            /* Presentational styles */
            a {
              color: black;
              font-size: 19px;
              font-weight: 500;
              line-height: 0;
              text-decoration: none;
            }
      }
    
    
    
      /*=arrow=*/
    .arrow {
        position: absolute;
        top: 19%;
        left: 14%;
        transform: translate(-50%, -50%);
        transform: rotate(90deg);
        cursor: pointer;
    }
    
    .arrow span {
        display: block;
        width: 1vw;
        height: 1vw;
        border-bottom: 5px solid black;
        border-right: 5px solid black;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
    }
    
    .arrow span:nth-child(2) {
        animation-delay: -0.2s;
    }
    
    .arrow span:nth-child(3) {
        animation-delay: -0.4s;
    }
    
    @keyframes animate {
        0% {
            opacity: 0;
            transform: rotate(45deg) translate(-20px, -20px);
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            transform: rotate(45deg) translate(20px, 20px);
        }
    }

    /*=CARD TITLE1=*/
  .card-title1{
      a {
          box-shadow: inset 0 0 0 0 black;
          color: black;
            padding: 0 .25rem;
            margin: 0 -.25rem;
            border-radius: 5px;
          transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
        }
        a:hover {
          color: white;
          box-shadow: inset 200px 0 0 0 black;;
        }
        
        /* Presentational styles */
        a {
          color: black;
          font-family: 'Poppins', sans-serif;
          font-size: 23px;
          font-weight: 600;
          line-height: 0;
          text-decoration: none;
        }
  }

    


{% endblock %}

{% block title %}
Notificating in Telegram
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 100px; margin-bottom: 200px">
        <p class="list"><a href={% url 'app:home' %}>RETURN HOME</a></p>
    <div class="arrow">
        <span></span>
        <span></span>
        <span></span>
    </div>
        <div class="row">
            <div class="col-8">
                <h1><b >Notificating in Telegram</b></h1>
                <img src="/media/telegram-logo-27.png" style="width: 100%; height: 500px; object-fit: cover; margin-top: 50px;margin-bottom: 50px; border-radius:10px;">
                <div class="box-info">
                    <div class="title-box">
                        <h2><b style="font-size: 28px;">DESCRIPTION</b></h2>
                    </div>
                    <div class="content-box">
                      <p>Security researchers have identified multiple workflows in popular continuous integration and
                        development (CI/CD) service GitHub Actions that are vulnerable to command execution.
                        A research team from dating platform Tinder crafted an automation script that unearthed
                        flaws that enabled the exfiltration of secrets that provide write access to various open
                        source GitHub repositories, including Elastic’s Logstash.
                        A blog post documenting the findings was penned by Rojan Rijal, Johnny Nipper, and Tanner
                        Emek – respectively red teamer, senior product security manager, and engineering manager at
                        Tinder.</p>

                    <p>YOU MIGHT ALSO LIKE ‘Focus on brilliance at the basics’ – GitHub CSO Mike Hanley on shifting
                        left and securing the software supply chain</p>

                    <p>The trio told The Daily Swig that “in the worst case scenario, you can exploit a vulnerable
                        workflow to retrieve the GITHUB_TOKEN value”, which has read/write access to the repository
                        by default. “This can be used to push a malicious build against users and perform supply
                        chain related exploits.”</p>
                    <p>If more sensitive access secrets within the workflow such as AWS credentials, API Keys, or
                        service credentials were exposed, “this could lead to a compromise of a company’s
                        infrastructure”, they added.</p>
                    <p>The most common cause of vulnerabilities was unsafe user inputs in run scripts. The
                        researchers also found many examples where pull_request_target was misused, which among
                        other things could bypass a 2019 fix for an issue related to the use of event handlers in
                        forked repositories.</p>
                    <p>The research focused on projects with vulnerability disclosure policies, with validated
                        vulnerabilities responsibly reported to projects. Elastic’s security team quickly
                        deactivated the vulnerable workflow and confirmed no abuse had occurred, said the
                        researchers.</p>
                    </div>
                </div>
                <div class="box-info">
                    <div class="title-box">
                        <h2><b style="font-size: 28px;">STEP</b></h2>
                    </div>
                    <div class="content-box">
                      <h3>Below are some instructions to get chat id and token to receive Telegram notifications</h3>
                      <p><b>Step 1:</b> Find <b>BotFather</b>, to create a bot and do the steps in the picture:</p>
                      <p>As shown in the image, I have created a bot named <b>'CD BOT Monitor'</b> and its contact is <b>'cd_monitor_bot'</b></p>
                       <p>After creating the bot and having your token, you will copy that token</p>
                       <img src="/media/Step1.png">
                       <p><b>Step 2:</b> After getting the token, you will search for the bot by <b>contact</b> of the bot and press the <b>'/start' button</b></ p>
                       <img src="/media/Step2.png"><br>
                       <p><b>Step 3:</b> Copy your token and go to the page </p>
                       <p>To search for your chat bot channel id: (Copy the URL below and follow the instructions)</p>
                       <p><b>'https://api.telegram.org/bot{}/getUpdates'</b> {} is the bot's token to get chat id</p>
                       <img src="/media/Step3.png">
                       <br>
                       <p>After copying the above link and inserting the bot token, you will see your chat id.</p>
                       <p>And now you get the token and chat id.</p>
                       <p><b>Step 4:</b> And now you get the token and chat id and copy your token and chat id  to the page setting notification</p>
                       <img src="/media/Screenshot 2024-03-27 162032.png">
                       <p>Now you can get the cve news to your platform you are selected!.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="box-info">
                    <div class="title-box">
                        <h2><b style="font-size: 28px;">Method Informations</b></h2>
                    </div>
                    <div class="content-box">
                        <p>Service: Telegram</p>
                        <p>Published: 2024-20-3</p>
                        <p>Updated: 2024-26-3</p>
                        <button class="btn btn-one"><b>Follow News Now</b></button>
                    </div>
                </div>
                <br>
                <div class="box-info">
                    <div class="title-box">
                        <h2><b style="font-size: 28px;">Asking for information</b></h2>
                    </div>
                    <div class="content-box">
                        <form method="post">
                            {% csrf_token %}
                            <input type="text" name="your_name" placeholder="Your Name"><br>
                            <input type="text" name="email_address" placeholder="Email Address"><br>
                            <input type="text" name="phone_number" placeholder="Phone Number"><br>
                            <textarea name="message" placeholder="Message" rows="5"></textarea><br>
                            <button class="btn btn-one" style="width: 100%"><b>Sent</b></button>
                        </form>
                    </div>
                </div>
                <div class="box-info">
                    <div class="title-box">
                        <h2><b style="font-size: 28px;">Another Methods</b></h2>
                    </div>
                    <div class="content-box">
                        <div class="card mb-3" style="max-width: 540px; border: none; background-color: lightgray !important;">
                          <div class="row g-0">
                            <div class="col-md-4">
                              <img src="/media/gmail-new-icon5198.jpg" class="img-fluid rounded-start" alt="..." style="margin-top:20px; border-radius:5px">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h3 class="card-title1">
                                        <a href="{% url 'app:gmail_noti' %}">Gmail
                                        </a>
                                    </h3>
                                    <p class="card-text">"How to receive notifications via Gmail whenever a new CVE is updated."</p>
                                    <a href="{% url 'app:gmail_noti' %}">
                                        <button class="btn btn-one"><b>READ MORE</b></button>
                                    </a>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
