{% extends 'navbar.html' %}

{% block css %}
    a {
    text-decoration: none;
    color: black;
    }
    input, textarea {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    }
    img {
        width: 100%;
        height: auto;
    }
    .img-cve {
    padding: 20px;
    border-radius: 30px;
    width: 100%;
    height: auto;
    }
    .box-info {
    {#        border-radius: 30px;#}
    {#        border-color: black;#}
    {#        background-color: lightgray;#}
    {#        padding: 20px;#}
    margin-bottom: 20px;
    margin-top: 20px;
    }
    .title-box > * {
    padding: 10px;
    background-color: black !important;
    color: white !important;
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
    margin: 0;
    }
    .content-box {
    background-color: lightgray !important;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 0;
    padding: 10px;
    }
    .base-score {
    background-color: black !important;
    color: white !important;
    padding: 10px;
    border-radius: 10px;
    }
    .alert-msg {
    background-color: lightgreen;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border-color: red;
    }

    /*=READ NOW=*/
    .btn {
        line-height: 20px;
        height: 50px;
        text-align: center;
        text-style:bold
        cursor: pointer;
        background-color:black;
      }
      .btn-one {
        color: white;
        transition: all 0.5s;
        position: relative;
      }
      .btn-one span {
        transition: all 0.5s;
      }
      .btn-one::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 0;
        transition: all 1s;
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-top-style: solid;
        border-bottom-style: solid;
        border-top-color: black;
        border-bottom-color: black;
        transform: scale(0.1, 1);
        
      }
      .btn-one:hover span {
        letter-spacing: 2px;
      }
      .btn-one:hover::before {
        opacity: 1; 
        transform: scale(1, 1); 
      }
      .btn-one::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 0.3s;
        background-color: rgba(255,255,255,0.1);
      }
      .btn-one:hover::after {
        opacity: 0; 
        transform: scale(0.1, 1);
      }
      /*=Link list=*/
      .list{
          a {
              box-shadow: inset 0 0 0 0 black;
              color: black;
                padding: 0 .25rem;
                margin: 0 -.25rem;
                left:10%;
                border-radius: 5px;
              transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
            }
            a:hover {
              color: white;
              box-shadow: inset 200px 0 0 0 black;;
            }
            
            /* Presentational styles */
            a {
              color: black;
              font-size: 19px;
              font-weight: 500;
              line-height: 0;
              text-decoration: none;
            }
      }
    
    
    
      /*=arrow=*/
    .arrow {
        position: absolute;
        top: 19%;
        left: 14%;
        transform: translate(-50%, -50%);
        transform: rotate(90deg);
        cursor: pointer;
    }
    
    .arrow span {
        display: block;
        width: 1vw;
        height: 1vw;
        border-bottom: 5px solid black;
        border-right: 5px solid black;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
    }
    
    .arrow span:nth-child(2) {
        animation-delay: -0.2s;
    }
    
    .arrow span:nth-child(3) {
        animation-delay: -0.4s;
    }
    
    @keyframes animate {
        0% {
            opacity: 0;
            transform: rotate(45deg) translate(-20px, -20px);
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            transform: rotate(45deg) translate(20px, 20px);
        }
    }

    /*=CARD TITLE1=*/
  .card-title1{
      a {
          box-shadow: inset 0 0 0 0 black;
          color: black;
            padding: 0 .25rem;
            margin: 0 -.25rem;
            border-radius: 5px;
          transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
        }
        a:hover {
          color: white;
          box-shadow: inset 200px 0 0 0 black;;
        }
        
        /* Presentational styles */
        a {
          color: black;
          font-family: 'Poppins', sans-serif;
          font-size: 23px;
          font-weight: 600;
          line-height: 0;
          text-decoration: none;
        }
  }


  /*= NOTIFICATIONS=*/
  @import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

span{
  position: relative;
  display: inline-flex;
  width: -10px;
  height: 55px;
  margin: 0 5px;
  perspective: 1000px;
}
span a{
  font-size: 15px;
  font-style:bold;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  
}
span a:before,
span a:after{
  position: absolute;
  content: "Register for your notifications now!";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
  text-align:center;  
}
span a:before{
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
span a:after{
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
span a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}

    



  
  .our-team {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color: #f7f5ec;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  
  .our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
  }
  
  .our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  
  .our-team:hover .picture::before {
    height: 100%;
  }
  
  .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }
  
  .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
  }
  
  .our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
  }
  
  .our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #1369ce;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  
  .our-team:hover .social {
    bottom: 0;
  }
  
  .our-team .social li {
    display: inline-block;
  }
  
  .our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  
  .our-team .social li a:hover {
    color: #1369ce;
    background-color: #f7f5ec;
  }
  

  /*=URL=*/
.url{
    a {
    color: blue;
      position: relative;
      text-decoration: none;
    }
    
    a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      border-radius: 4px;
      background-color: #18272F;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
/*=URL=*/
.url{
    a {
        color: blue;
      position: relative;
      text-decoration: none;
    }
    
    a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      border-radius: 4px;
      background-color: #18272F;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
{% endblock %}

{% block title %}
Temporal CVSS Scores
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 100px; margin-bottom: 200px">
        <p class="list"><a href={% url 'app:list_defination' %}>RETURN LIST DEF</a></p>
    <div class="arrow">
        <span></span>
        <span></span>
        <span></span>
    </div>
        <div class="row">
            <div class="col-8">
                <h1><b ><u>Temporal CVSS Scores</u></b></h1>
                <img src="/media/figure-1-3-550x229.png" style="width: 100%;  object-fit: cover; margin-top: 50px;margin-bottom: 50px; border-radius:10px;">
                <div class="box-info">
                    <div class="title-box">
                        <h2><b style="font-size: 28px;">What is a CVSS Score?</b></h2>
                    </div>
                    <div class="content-box">
                        <p >Vulnerability management programs need a mechanism for deciding which vulnerabilities to mitigate, and when. To help accomplish this task, many enterprises turn to the Common Vulnerability Scoring System (CVSS), which provides a mechanism by which the severity of vulnerabilities can be computed and compared.</p>
                        <p>CVSS scores range from 0-10, with this numeric rating being composed of three sub groups of metrics (Base, Temporal, Environmental), of which each metric group has several subcomponents.</p>
                        <img src = "/media/metric-groups-that-make-up-every-CVSS-score-2-768x432.png">
                        <p>The unchanging, static components of a vulnerability are known as Base Metrics, which are the primary metric group reported in NIST’s National Vulnerability Database (NVD), a public database of CVSS scores for known vulnerabilities. Base Metrics do not change over time – they remain the same throughout the lifetime of a vulnerability.</p>
                        <p>Environmental Metrics apply to the specific environment in which a vulnerability exists. These metrics are, by definition, specific to each enterprise. These metrics relate to either the business criticality of the asset that is vulnerable, or to compensating controls or mitigations that might make an organization more or less susceptible to the vulnerability.</p>
                        <p>Temporal Metrics, on the other hand, change over time as a result of activities conducted by both software vendors and hackers. These metrics are sometimes, but not always, reported in the NVD. If the vendor of a piece of software has created a patch, and that patch is widely available, the temporal score for that vulnerability will be lower. On the other hand, if there are known exploits for a vulnerability, and those exploits are widely used and distributed, the temporal score will be higher. As the availability of patches and exploit code changes, the underlying attributes of the Temporal Metric will change, changing the temporal score and the overall CVSS score.</p>
                    </div>
                </div>

                <div class="box-info">
                    <div class="title-box">
                        <h2><b style="font-size: 28px;">CVSS Temporal Metrics</b></h2>
                    </div>
                    <div class="content-box">
                     
                    </div>
                </div>
                <div class="box-info">
                    <div class="title-box">
                        <h2><b style="font-size: 28px;">Impact of Temporal Metrics</b></h2>
                    </div>
                    <div class="content-box">
                      <p>Here is an example of Temporal Metrics in action. We start with a vulnerability with a medium CVSS score, as indicated by CVSS score that comprises only Base Metrics:</p>
                      <img src="/media/temporal-metrics1-1024x204.png">
                      <p>Then, without changing the Base metrics, we determine that it’s unproven whether an exploit exists, and that there is a patch that is widely available from the software vendor:</p>
                      <img src="/media/temporal-metrics2-1024x209.png">
                      <p>You can see that the Base Score doesn’t change at all, yet the Overall CVSS Score drops from 6.8 to 5.5. Still a medium level vulnerability, but the lower Temporal Score had significant impact on the severity.</p>
                      <p>This example demonstrates that in addition to widely available Base Factors, Temporal Factors must also be accounted for when determining the severity, and priority, of open vulnerabilities.</p>
                    </div>
                </div>
                <div class="box-info">
                    <div class="title-box">
                        <h2><b style="font-size: 28px;">Operationalizing CVSS Scores</b></h2>
                    </div>
                    <div class="content-box">
                      <p>As discussed previously, published CVSS scores are typically comprised of Base Metrics only. This is a useful starting point, but really only answers the question, “Can this do damage?”, when you really need to answer, “Can this do damage to my company?” In order to ensure that you’re not being misled by CVSS scores, you need to ensure that you’re accounting for Temporal and Environmental factors as well. This is key to successfully operationalizing CVSS scores in your vulnerability management program.</p>
                    </div>
                </div>
                <div class="box-info">
                    <div class="title-box">
                        <h2><b style="font-size: 28px;">LEARN MORE...</b></h2>
                    </div>
                    <div class="content-box url">
                      + <a href="{% url 'app:cve' %}"> What Is a CVE?</a></br>
                      + <a href="{% url 'app:cvss' %}"> What Is a CVSS?</a></br>
                      + <a href="{% url 'app:cvss_comparation' %}"> CVSS v2 vs CVSS v3</a></br>
                      + <a href="{% url 'app:base' %}"> CVSS Base Score Explained</a></br>
                      + <a href="{% url 'app:temporal' %}">  Temporal CVSS Scores</a></br>
                      + <a href="{% url 'app:environmental' %}">  Environmental CVSS Scores</a></br>
                      + <a href="{% url 'app:difference' %}">    What is the difference between CVE and CVSS?</a></br>
                      + <a href="{% url 'app:type' %}">  Product and Vendor of CVE</a></br>
                      
                </div>
            </div>
            </div>
            <div class="col-4">
                <div class="box-info">
                    <div class="title-box">
                        <h2><b style="font-size: 28px;">Box Informations</b></h2>
                    </div>
                    <div class="content-box">
                        <p>Service: Temporal CVSS Scores</p>
                        <p>Published: 2024-20-3</p>
                        <p>Updated: 2024-26-3</p>
                        <span><a {% if user.is_authenticated %} href="{% url 'accounts:notification' %}" {% else %} href="{% url 'accounts:login' %}" {% endif %}></a></span>
                    </div>
                </div>
                <br>
                <div class="box-info">
                    <div class="title-box">
                        <h2><b style="font-size: 28px;">Asking for information</b></h2>
                    </div>
                    <div class="content-box">
                      <form method="post"  action="mailto:binhndhe161032@gmail.com">
                        {% csrf_token %}
                        <input type="text" name="your_name" placeholder="Your Name"><br>
                        <input type="text" name="email_address" placeholder="Email Address"><br>
                        <input type="text" name="phone_number" placeholder="Phone Number"><br>
                        <textarea name="message" placeholder="Message" rows="5"></textarea><br>
                        <button type="submit" value="Send" class="btn btn-one" style="width: 100%"><b>Sent</b></button>
                    </form>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
{% endblock %}
